Repository jina-ai/now, pull requests merged in 2022-12, with the labels that each got.

#719 test: separate remote and local tests
  pytest.ini
  tests/integration/test_end_to_end.py
Labels: area/testing, size/m

#726 fix: different search term after curation
  now/app/base/preprocess.py
  now/constants.py
  now/executor/abstract/base_indexer/base_indexer.py
  tests/executor/indexer/base/test_base_executor.py
  tests/integration/test_transform_docarray.py
Labels: area/testing, area/core, size/s

#725 chore: add a PR template
  .github/pull_request_template.md
Labels: area/housekeeping, size/xs

#727 fix: change all instances of jina hub to jina ai cloud
  docs/_templates/sidebar/navigation.html
  now/utils.py
Labels: area/core, area/docs, size/xs

#731 refactor: improve performance curation
  now/constants.py
  now/executor/abstract/base_indexer/base_indexer.py
  tests/executor/indexer/base/test_base_executor.py
Labels: area/testing, area/core, size/s

#728 fix: workaround core wolf
  now/app/text_to_video/app.py
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/run_backend.py
Labels: area/core, size/s

#734 feat: adapt new wolf gateway
  now/common/flow/flow-external-clip.yml
Labels: area/core, size/xs

#712 feat: add schema functions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/common/detect_schema.py
  now/common/options.py
  now/common/utils.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/es/__init__.py
  now/data_loading/es/data_extractor.py
  now/data_loading/utils.py
  now/finetuning/generation_fns.py
  now/now_dataclasses.py
  now/utils.py
  tests/integration/conftest.py
  tests/integration/test_end_to_end.py
  tests/unit/cli/test_cli.py
  tests/unit/test_detect_schema.py
  tests/unit/test_dialog.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core, component/data, component/finetuning

#749 fix: new remote deployment
  now/common/flow/flow-external-clip.yml
  now/constants.py
Labels: area/core, size/s

#746 Refactor remove redundancy on ci
  .github/actions/push-executor/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/constants.py
  now/executor/autocomplete/Dockerfile
  now/executor/autocomplete/requirements.txt
  now/executor/indexer/elastic/Dockerfile
  now/executor/indexer/elastic/requirements.txt
  now/executor/indexer/qdrant/Dockerfile
  now/executor/indexer/qdrant/requirements.txt
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements-special.txt
  now/executor/preprocessor/requirements.txt
  requirements.txt
Labels: area/housekeeping, area/cicd, area/setup, area/core, size/m

#736 refactor: remove one level in call stack
  now/cli/__init__.py
  now/run_all_k8s.py
Labels: area/core, size/m, area/entrypoint, component/cli

#751 refactor: move jpeg compression
  now/app/base/preprocess.py
  now/constants.py
  now/data_loading/convert_datasets_to_jpeg.py
Labels: area/core, component/data, size/m

#747 test: revert quality to 224x224
  now/app/base/preprocess.py
  now/constants.py
  now/data_loading/convert_datasets_to_jpeg.py
  tests/executor/preprocessor/test_unit.py
Labels: area/testing, area/core, component/data, size/xs

#767 fix: enable local testing
  .github/workflows/ci.yml
  now/common/testing.py
  now/constants.py
  now/executor/name_to_id_map.py
  requirements.txt
  tests/unit/test_dialog.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, size/s

#764 refactor(utils): use hubble to get user token
  .github/workflows/ci.yml
  now/utils.py
Labels: area/housekeeping, area/cicd, area/core, size/s

#750 fix: disable telemetry for executors
  now/app/base/app.py
  now/constants.py
  tests/unit/apps/test_apps.py
Labels: area/testing, area/core, size/s

#773 fix: expand user
  now/common/detect_schema.py
Labels: area/core, size/xs

#735 feat: n-to-n ElasticIndexer multi modal doc
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/constants.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_converter.py
  now/executor/indexer/elastic/es_preprocessing.py
  now/executor/indexer/elastic/es_query_building.py
  now/executor/indexer/qdrant/Dockerfile
  requirements.txt
  tests/executor/indexer/base/docker-compose.yml
  tests/executor/indexer/base/test_elastic_executor.py
  tests/executor/indexer/elastic/conftest.py
  tests/executor/indexer/elastic/test_es_converter.py
  tests/executor/indexer/elastic/test_es_preprocessor.py
  tests/executor/indexer/elastic/test_es_query_building.py
  tests/executor/indexer/elastic/test_executor.py
  tests/resources/elastic/docker-compose.yml
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, size/xl

#771 fix: reversed text and image modalities
  deployment/bff/app/app.py
  deployment/playground/playground.py
  now/app/image_text_retrieval/app.py
  now/constants.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/test_app.py
  tests/unit/bff/v1/routers/test_img_txt_retrieval.py
Labels: area/testing, area/core, size/s

#761 feat: migrate demo ds
  .github/workflows/ci.yml
  deployment/playground/playground.py
  deployment/playground/src/constants.py
  now/common/detect_schema.py
  now/common/options.py
  now/common/utils.py
  now/constants.py
  now/data_loading/data_loading.py
  now/demo_data.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/now_dataclasses.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/unit/cli/test_cli.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_detect_schema.py
  tests/unit/test_dialog.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, component/data, size/m

#777 test: elastic executor tests fix
  tests/executor/indexer/base/test_elastic_executor.py
  tests/executor/indexer/elastic/conftest.py
Labels: area/testing, size/s

#787 refactor: simplify dialog
  now/cloud_manager.py
  now/common/options.py
Labels: area/core, size/s

#786 fix: gif in image app
  now/constants.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, size/xs

#781 fix: grammar and naming
  now/common/options.py
  now/utils.py
Labels: area/core, size/s

#772 Feat multimodal bff
  .test_durations
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/modality.py
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/models/text.py
  deployment/bff/app/v1/models/text_and_image.py
  deployment/bff/app/v1/models/video.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/im_txt2im_txt.py
  deployment/bff/app/v1/routers/search.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/src/search.py
  now/admin/search.py
  now/app/base/app.py
  now/app/text_to_video/app.py
  now/client/__init__.py
  now/constants.py
  now/run_all_k8s.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/test_app.py
  tests/unit/bff/v1/routers/test_search.py
Labels: size/l, area/testing, area/core

#796 fix: fix playground display blob
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/s

#775 docs: refactor input format explanation
  README.md
  docs/user-guides/cli_api.md
  docs/user-guides/input_format.md
Labels: area/docs, size/m

#785 fix: filter types
  now/common/detect_schema.py
  now/constants.py
  now/executor/abstract/base_indexer/base_indexer.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s

#797 fix: remove unwanted chars from app name
  now/common/options.py
  tests/executor/preprocessor/test_unit.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/s

#755 fix: search with tags
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/search.py
  now/constants.py
  now/executor/abstract/base_indexer/ranking.py
  tests/conftest.py
  tests/executor/indexer/base/docker-compose.yml
  tests/executor/indexer/base/test_base_executor.py
  tests/integration/bff/__init__.py
  tests/integration/bff/conftest.py
  tests/integration/bff/test_api_key.py
  tests/integration/bff/test_search_with_tags.py
  tests/integration/security/test_api_key.py
Labels: area/testing, area/core, size/m

#770 fix: replicas for local deployment
  now/app/text_to_video/app.py
  now/deployment/flow.py
  now/run_backend.py
  now/utils.py
Labels: area/core, size/s, component/deployment

#788 Refactor remove text to video
  .github/workflows/ci.yml
  .test_durations
  now/admin/deploy_text_to_video.py
  now/admin/run_performance_test.py
  now/app/base/transform_docarray.py
  now/app/image_text_retrieval/__init__.py
  now/app/search_app/__init__.py
  now/app/search_app/app.py
  now/app/text_to_video/__init__.py
  now/app/text_to_video/app.py
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/app/text_to_video/flow-video-clip.yml
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/common/flow/flow-clip.yml
  now/common/flow/ft-flow-clip.yml
  now/common/options.py
  now/common/utils.py
  now/constants.py
  now/data_loading/data_loading.py
  tests/executor/preprocessor/test_integration.py
  tests/integration/bff/conftest.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/cli/test_cli.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core, component/data

#806 fix: handle new modality in playground
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/xs

#802 fix: index field
  now/common/options.py
Labels: area/core, size/xs

#804 feat: elastic cluster in executor
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
Labels: area/core, size/s

#811 fix: order of search options
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/s

#812 refactor: remove finetuning
  .dockerignore
  .github/labeler.yml
  .test_durations
  docs/user-guides/production.md
  now/app/base/app.py
  now/app/search_app/app.py
  now/common/utils.py
  now/constants.py
  now/finetuning/__init__.py
  now/finetuning/data_builder.py
  now/finetuning/dataset.py
  now/finetuning/generation_fns.py
  now/finetuning/run_finetuning.py
  now/finetuning/settings.py
  requirements.txt
  tests/integration/conftest.py
  tests/integration/finetuning/test_finetuner_api.py
  tests/unit/test_finetuning/test_data_builder.py
  tests/unit/test_finetuning/test_dataset.py
  tests/unit/test_finetuning/test_run_finetuning.py
Labels: size/l, area/testing, area/housekeeping, area/setup, area/core, area/docs

#817 refactor: conftest
  tests/conftest.py
  tests/unit/bff/v1/conftest.py
Labels: area/testing, size/s

#816 test: fast local end to end
  now/app/base/transform_docarray.py
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  tests/conftest.py
  tests/executor/indexer/base/test_elastic_executor.py
  tests/executor/indexer/elastic/conftest.py
  tests/executor/indexer/elastic/test_es_converter.py
  tests/executor/indexer/elastic/test_es_query_building.py
  tests/executor/indexer/elastic/test_executor.py
  tests/integration/offline_flow/__init__.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/test_transform_docarray.py
Labels: size/l, area/testing, area/core

#819 fix: detect if flow is ready in testing mode
  now/deployment/flow.py
Labels: area/core, size/s, component/deployment

#810 docs: add info about multi-modal documents
  docs/user-guides/input_format.md
Labels: area/docs, size/s

#815 fix: ignore hidden files for local folder and S3
  now/common/detect_schema.py
  tests/resources/gif/.some_hidden_file
  tests/unit/test_detect_schema.py
Labels: area/testing, area/core, size/s

#823 fix: removed output modality from playground
  deployment/playground/playground.py
  now/constants.py
  now/run_all_k8s.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s

#831 fix: curation endpoint elastic
  tests/executor/indexer/base/test_elastic_executor.py
Labels: area/testing, size/xs

#768 feat: use data class in data loading
  deployment/playground/src/search.py
  now/app/base/transform_docarray.py
  now/common/detect_schema.py
  now/common/options.py
  now/common/utils.py
  now/constants.py
  now/data_loading/create_dataclass.py
  now/data_loading/data_loading.py
  now/demo_data.py
  now/executor/preprocessor/executor.py
  now/now_dataclasses.py
  now/run_backend.py
  tests/conftest.py
  tests/executor/preprocessor/test_integration.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/data_loading/elastic/test_elasticsearch.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/resources/image/a.jpg
  tests/resources/image/b.jpg
  tests/resources/music/a.mp3
  tests/resources/music/b.mp3
  tests/resources/subdirectories/folder1/a.jpg
  tests/resources/subdirectories/folder1/test.txt
  tests/resources/subdirectories/folder2/a.jpg
  tests/resources/subdirectories/folder2/test.txt
  tests/unit/apps/test_preprocessing.py
  tests/unit/bff/v1/conftest.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dataclass.py
  tests/unit/test_detect_schema.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, component/data, size/xl

#822 Feat multimodal docs bff
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  deployment/bff/Dockerfile
  deployment/bff/app/v1/models/modality.py
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/routers/admin.py
  deployment/bff/app/v1/routers/cloud_temp_link.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/search.py
  deployment/playground/src/search.py
  now/app/text_to_video/app.py
  now/client/__init__.py
  now/constants.py
  now/executor/autocomplete/executor.py
  now/executor/preprocessor/executor.py
  tests/integration/bff/test_api_key.py
  tests/integration/bff/test_search_with_tags.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m

#839 fix: fix git sha in cd workflow
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  deployment/bff/Dockerfile
  deployment/nginx/default.conf
  now/app/base/transform_docarray.py
  now/constants.py
  now/executor/name_to_id_map.py
Labels: area/housekeeping, area/cicd, area/core, size/s

#843 fix: guess file ending from blob to load it correctly
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/requirements.txt
  now/constants.py
  requirements-test.txt
Labels: area/core, size/s

#842 refactor: save flow details before assertions
  deployment/playground/Dockerfile
  now/constants.py
  now/deployment/k8s_playground-deployment.yml
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s, component/deployment

#834 refactor: change all fields mentions to index_fields and query_fields
  deployment/playground/playground.py
  deployment/playground/src/constants.py
  docs/main.md
  docs/user-guides/input_format.md
  now/admin/search.py
  now/app/base/app.py
  now/app/base/transform_docarray.py
  now/app/search_app/app.py
  now/common/detect_schema.py
  now/common/options.py
  now/common/utils.py
  now/constants.py
  now/data_loading/create_dataclass.py
  now/data_loading/data_loading.py
  now/data_loading/elasticsearch/data_extractor.py
  now/demo_data.py
  now/executor/preprocessor/executor.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/run_backend.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/data_loading/elastic/test_elasticsearch.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/bff/v1/routers/test_search.py
  tests/unit/cli/test_cli.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dataclass.py
  tests/unit/test_detect_schema.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, component/data, area/docs, size/m
