Repository jina-ai/now, pull requests merged in 2022-10, with the labels that each got.

#553 fix: convert user emails to list
  now_common/options.py
Labels: size/xs

#564 fix: url playground not showing
  now/run_all_k8s.py
Labels: area/core, size/xs

#566 Fix enable static cname
  deployment/bff/app/v1/routers/helper.py
  now/constants.py
Labels: area/core, size/xs

#567 Fix add static url
  now/apps/base/app.py
  now/apps/base/flow.yml
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/run_all_k8s.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
Labels: area/core, size/s

#575 refactor: base indexer
  .github/workflows/ci.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/abstract_executors/NOWAuthExecutor/README.md
  now_common/abstract_executors/NOWAuthExecutor/__init__.py
  now_common/abstract_executors/NOWAuthExecutor/executor.py
  now_common/abstract_executors/NOWBaseIndexer/__init__.py
  now_common/abstract_executors/NOWBaseIndexer/base_indexer.py
  now_executors/NOWAnnLiteIndexer/README.md
  now_executors/NOWAnnLiteIndexer/executor.py
  now_executors/NOWAuthExecutor/config.yml
  now_executors/NOWAuthExecutor/manifest.yml
  now_executors/NOWAuthExecutor/requirements-test.txt
  now_executors/NOWAuthExecutor/requirements.txt
  now_executors/NOWPreprocessor/executor.py
  tests/now_executors/NOWAnnLiteIndexer/test_executor.py
  tests/now_executors/NOWAuthExecutor/test_integration.py
  tests/now_executors/NOWAuthExecutor/test_unit.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core

#576 Refactor faster docker build
  now/constants.py
  now_executors/NOWAnnLiteIndexer/Dockerfile
Labels: area/core, size/xs

#577 feat: sum ranker
  now/constants.py
  now_common/abstract_executors/NOWBaseIndexer/base_indexer.py
  now_common/abstract_executors/NOWBaseIndexer/ranking.py
  tests/now_executors/NOWAnnLiteIndexer/test_executor.py
Labels: area/testing, area/core, size/s

#474 feat: add elastic indexer
  .github/workflows/ci.yml
  .test_durations
  now/apps/music_to_music/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text_and_image/app.py
  now/apps/text_to_text_and_image/flow.yml
  now/constants.py
  now/deployment/elastic_kind.yml
  now_common/utils.py
  now_executors/NOWAnnLiteIndexer/executor.py
  now_executors/elastic_indexer/Dockerfile
  now_executors/elastic_indexer/README.md
  now_executors/elastic_indexer/__init__.py
  now_executors/elastic_indexer/config.yml
  now_executors/elastic_indexer/elastic_indexer.py
  now_executors/elastic_indexer/requirements.txt
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/data_loading/es/conftest.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/now_executors/elastic_indexer/conftest.py
  tests/now_executors/elastic_indexer/test_executor.py
  tests/resources/elastic/docker-compose.yml
Labels: area/testing, area/housekeeping, area/cicd, area/core, component/deploymeny, size/xl

#574 feat: github actions for example deployment
  .github/workflows/force-deploy-examples.yml
  now/admin/deploy_examples.py
  now/constants.py
  now/deployment/deployment.py
  now/run_all_k8s.py
  now/run_backend.py
  now/utils.py
Labels: area/housekeeping, area/cicd, area/core, size/m, component/deploymeny

#585 fix: elastic docker
  .github/workflows/ci.yml
  now/constants.py
  now_executors/elastic_indexer/Dockerfile
Labels: area/housekeeping, area/cicd, area/core, size/s

#587 feat: adjust Elasticsearch to new format
  now/apps/text_to_text_and_image/app.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/es/connector.py
  now/data_loading/es/data_extractor.py
  now/now_dataclasses.py
  now_common/options.py
  tests/integration/data_loading/es/test_elasticsearch.py
  tests/integration/test_end_to_end.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, component/data, size/m

#548 refactor: dialog
  README.md
  docs/user-guides/cli_api.md
  now/admin/deploy_examples.py
  now/admin/deploy_text_to_video.py
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_text/app.py
  now/constants.py
  now/data_loading/data_loading.py
  now/datasource/__init__.py
  now/datasource/datasource.py
  now/demo_data.py
  now/finetuning/settings.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/utils.py
  now_common/options.py
  now_common/utils.py
  now_executors/NOWPreprocessor/executor.py
  tests/integration/data_loading/es/test_elasticsearch.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/integration/test_end_to_end.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_data_builder.py
Labels: size/l, area/testing, area/core, component/data, area/docs, component/finetuning

#591 fix: minor update
  now/apps/base/app.py
  now/constants.py
  now_common/utils.py
Labels: area/core, size/xs

#590 refactor: remove now post process
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/abstract_executors/NOWBaseIndexer/base_indexer.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_executors/NOWPostprocessor/README.md
  now_executors/NOWPostprocessor/config.yml
  now_executors/NOWPostprocessor/executor.py
  now_executors/NOWPostprocessor/manifest.yml
  now_executors/NOWPostprocessor/requirements-test.txt
  now_executors/NOWPostprocessor/requirements.txt
  now_executors/NOWQdrantIndexer/executor.py
  tests/now_executors/NOWBaseIndexer/__init__.py
  tests/now_executors/NOWBaseIndexer/test_exec.py
  tests/now_executors/NOWPostprocessor/test_integration.py
  tests/now_executors/NOWQdrantIndexer/tests/test_experiment.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m

#595 fix: move script
  .github/workflows/force-deploy-examples.yml
  scripts/deploy_examples.py
Labels: area/housekeeping, area/cicd, area/script, size/xs

#596 Fix deploy example script
  deployment/bff/app/v1/routers/admin.py
  now/constants.py
  scripts/deploy_examples.py
Labels: area/script, area/core, size/s

#598 refactor: remove elastic check
  .github/workflows/ci.yml
  now/common/utils.py
Labels: area/housekeeping, area/cicd, area/core, size/s

#600 fix: replace with single line
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/xs

#603 fix: data generation test
  now/common/preprocess.py
  now/constants.py
  now/finetuning/generation_fns.py
  tests/resources/text+image/config.json
  tests/unit/test_finetuning/test_data_builder.py
Labels: area/testing, area/core, size/m, component/finetuning

#604 refactor: remove unused code
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/s

#605 refactor: remove finetuner comparison
  now/improvements/__init__.py
  now/improvements/improvements.py
  now/utils.py
Labels: area/core, size/m

#610 fix: user input data typo
  now/run_all_k8s.py
Labels: area/core, size/xs

#608 fix: retention days
  now/app/text_to_text_and_image/app.py
  now/common/utils.py
  now/constants.py
Labels: area/core, size/xs

#617 fix: fix url data error
  now/run_all_k8s.py
Labels: area/core, size/xs

#579 feat: add autocomplete
  .github/workflows/ci.yml
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  docs/user-guides/production.md
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/common/utils.py
  now/constants.py
  now/executor/autocomplete/Dockerfile
  now/executor/autocomplete/README.md
  now/executor/autocomplete/config.yml
  now/executor/autocomplete/executor.py
  now/executor/autocomplete/requirements.txt
  requirements-test.txt
  tests/executor/autocomplete/__init__.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/integration/test_end_to_end.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core, area/docs

#618 Refactor revert pr
  .github/workflows/ci.yml
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  docs/user-guides/production.md
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/common/utils.py
  now/constants.py
  now/executor/autocomplete/Dockerfile
  now/executor/autocomplete/README.md
  now/executor/autocomplete/config.yml
  now/executor/autocomplete/executor.py
  now/executor/autocomplete/requirements.txt
  requirements-test.txt
  tests/executor/autocomplete/__init__.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/integration/test_end_to_end.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core, area/docs

#619 fix: autocomplete
  .github/workflows/ci.yml
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  docs/user-guides/production.md
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/common/utils.py
  now/constants.py
  now/executor/autocomplete/Dockerfile
  now/executor/autocomplete/README.md
  now/executor/autocomplete/config.yml
  now/executor/autocomplete/executor.py
  now/executor/autocomplete/requirements.txt
  requirements-test.txt
  tests/executor/autocomplete/__init__.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/integration/test_end_to_end.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core, area/docs

#622 Refactor revert autocomplete issue
  .github/workflows/ci.yml
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  docs/user-guides/production.md
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/common/utils.py
  now/constants.py
  now/executor/autocomplete/Dockerfile
  now/executor/autocomplete/README.md
  now/executor/autocomplete/config.yml
  now/executor/autocomplete/executor.py
  now/executor/autocomplete/requirements.txt
  requirements-test.txt
  tests/executor/autocomplete/__init__.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/integration/test_end_to_end.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core, area/docs

#624 refactor: autocomplete
  .github/workflows/ci.yml
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  docs/user-guides/production.md
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/common/utils.py
  now/constants.py
  now/executor/autocomplete/Dockerfile
  now/executor/autocomplete/README.md
  now/executor/autocomplete/config.yml
  now/executor/autocomplete/executor.py
  now/executor/autocomplete/requirements.txt
  requirements-test.txt
  tests/executor/autocomplete/__init__.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/integration/test_end_to_end.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core, area/docs

#628 refactor: remove proto req
  deployment/bff/requirements.txt
  deployment/playground/requirements.txt
  now/constants.py
  requirements.txt
Labels: area/setup, area/core, size/xs
