Repository jina-ai/now, pull requests merged in 2022-04, with the labels that each got.

#83 feat: add codecov and cicd
  .github/codecov.yml
  .github/labeler.yml
  .github/release-template.ejs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
  .github/workflows/label-pr.yml
  .github/workflows/tag.yml
  CHANGELOG.md
  now/data_loading/embed_datasets.py
  scripts/black.sh
  scripts/get-all-test-paths.sh
  scripts/get-last-release-note.py
  setup.py
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/data_loading/__init__.py
  tests/unit/data_loading/test_embed_dataset.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/script, area/setup, area/core, component/data

#78 Feat add doc
  README.md
  docs/Makefile
  docs/_static/cas-dark.svg
  docs/_static/cas-light.svg
  docs/_static/docarray-dark.svg
  docs/_static/docarray-light.svg
  docs/_static/finetuner-dark.svg
  docs/_static/finetuner-light.svg
  docs/_static/hub-dark.svg
  docs/_static/hub-light.svg
  docs/_static/logo-dark.svg
  docs/_static/logo-light.svg
  docs/_static/main.css
  docs/_static/search-dark.svg
  docs/_static/search-light.svg
  docs/_templates/page.html
  docs/_templates/sidebar/brand.html
  docs/_templates/sidebar/navigation.html
  docs/changelog/index.md
  docs/conf.py
  docs/html_extra/robots.txt
  docs/index.md
  docs/makedoc.sh
  docs/requirements.txt
  docs/user-guides/faq.md
Labels: size/l, area/docs

#85 fix: checking docs deploy
  tests/unit/data_loading/test_embed_dataset.py
Labels: area/testing, size/xs

#86 fix(ci): remove release token and trigger on CI
  .github/workflows/force-docs-build.yml
  tests/unit/data_loading/test_embed_dataset.py
Labels: area/testing, area/housekeeping, area/cicd, size/s

#91 fix: deprecation warning
  now/cloud_manager.py
  now/system_information.py
Labels: area/core, size/xs

#92 fix: use cpu only
  now/hub/head_encoder/head_encoder.py
  now/utils.py
Labels: area/core, size/xs

#93 fix: use command to get context lists
  now/dialog.py
  now/run_all_k8s.py
  now/system_information.py
Labels: area/core, size/s

#94 feat: thumbnail images to (256, 256)
  .pre-commit-config.yaml
  now/data_loading/convert_datasets_to_jpeg.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/s

#87 Test for integration end-to-end
  .github/workflows/ci.yml
  now/cloud_manager.py
  now/dialog.py
  now/run_all_k8s.py
  requirements.txt
  tests/integration/__init__.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, size/s

#95 feat: add slider for confidence filtering
  now/frontend/frontend.py
Labels: area/core, size/s

#100 feat: no head deployments
  .gitignore
  now/deployment/flow.py
  now/dialog.py
  now/run_all_k8s.py
  requirements.txt
  requirements_pip.txt
  tests/integration/test_end_to_end.py
Labels: area/testing, area/setup, area/core, size/s, component/deploymeny

#109 fix: fixed jina version
  requirements.txt
  requirements_pip.txt
Labels: area/setup, size/xs

#115 add google analytics and scarf tracking
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs, size/xs

#117 refactor: bump jina version
  requirements_pip.txt
Labels: area/setup, size/xs

#114 Feat: find text via images
  .github/workflows/ci.yml
  now/cloud_manager.py
  now/data_loading/build_datasets.py
  now/data_loading/data_loading.py
  now/data_loading/embed_datasets.py
  now/data_loading/utils.py
  now/deployment/flow.py
  now/deployment/k8s_frontend-deployment.yml
  now/dialog.py
  now/finetuning/finetuning.py
  now/frontend/deploy-frontend-docker.sh
  now/frontend/frontend.py
  now/frontend/requirements.txt
  now/run_all_k8s.py
  now/run_backend.py
  now/run_frontend.py
  requirements.txt
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/data, size/m, component/deploymeny, component/finetuning

#118 refactor: clean up
  .github/labeler.yml
  MANIFEST.in
  now/data_loading/requirements.txt
  now/deleteme/create_docarray.py
  now/dialog.py
  now/frontend/requirements.txt
  requirements.txt
  requirements_pip.txt
  setup.py
Labels: area/housekeeping, area/setup, area/core, component/data, size/s

#111 feat: webcam support
  now/frontend/deploy-frontend-docker.sh
  now/frontend/frontend.py
  now/frontend/requirements.txt
  now/run_all_k8s.py
Labels: area/core, size/m

#122 docs: add new logo
  README.md
  docs/_static/JCloud-dark.svg
  docs/_static/JCloud-light.svg
  docs/_static/logo-dark.svg
  docs/_static/logo-light.svg
  docs/_static/main.css
  docs/_static/now-dark.svg
  docs/_static/now-light.svg
  docs/_templates/sidebar/navigation.html
  docs/makedoc.sh
Labels: area/docs, size/m

#124 docs: gif in docs
  .github/labeler.yml
  README.md
  docs/index.md
Labels: area/housekeeping, area/docs, size/s

#101 feat: sandbox support
  now/deployment/flow.py
  now/dialog.py
  now/run_backend.py
  tests/integration/test_end_to_end.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/s, component/deploymeny

#129 docs: added explicit m1 installation commands
  README.md
Labels: area/docs, size/xs
