Repository jina-ai/now, pull requests merged in 2022-11, with the labels that each got.

#630 fix: add timeout
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/app/music_to_music/app.py
  now/app/text_to_video/app.py
  now/common/preprocess.py
  now/constants.py
  now/data_loading/build_datasets.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/cast_n_move/executor.py
  now/run_backend.py
  requirements.txt
Labels: area/setup, area/core, component/data, size/s

#627 Fix add sync
  now/admin/update_api_keys.py
  now/app/base/app.py
  now/app/music_to_music/demo-data-flow-music.yml
  now/app/music_to_music/ft-flow-music.yml
  now/app/text_to_text/flow-sbert.yml
  now/app/text_to_text/ft-flow-sbert.yml
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/app/text_to_video/flow-video-clip.yml
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/cli/__init__.py
  now/common/flow/flow-clip.yml
  now/common/flow/ft-flow-clip.yml
  now/common/options.py
  now/common/utils.py
  now/constants.py
  now/finetuning/run_finetuning.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/run_backend.py
  now/utils.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/m, component/finetuning, area/entrypoint, component/cli

#637 fix: format the script-score query source correctly
  now/constants.py
  now/executor/indexer/elastic/config.yml
  now/executor/indexer/elastic/elastic_indexer.py
  tests/executor/indexer/elastic/test_executor.py
Labels: area/testing, area/core, size/s

#639 fix: update preprocessor and qdrant indexer
  now/constants.py
  now/executor/indexer/qdrant/executor.py
  now/executor/preprocessor/executor.py
Labels: area/core, size/xs

#640 fix: update demo links
  docs/main.md
Labels: area/docs, size/xs

#592 feat: introduce new format to the datasources
  .github/workflows/ci.yml
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_text_and_image/flow.yml
  now/app/text_to_video/app.py
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/app/text_to_video/flow-video-clip.yml
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/common/options.py
  now/common/preprocess.py
  now/common/utils.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/es/data_extractor.py
  now/data_loading/transform_docarray.py
  now/data_loading/utils.py
  now/dialog.py
  now/executor/abstract/auth/auth.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/indexer/qdrant/executor.py
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/requirements.txt
  now/run_all_k8s.py
  now/run_backend.py
  now/utils.py
  tests/executor/indexer/base/test_base_executor.py
  tests/executor/preprocessor/test_integration.py
  tests/integration/conftest.py
  tests/integration/data_loading/elastic/test_elasticsearch.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/integration/test_preprocessing.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, component/data, size/xl

#648 feat: add tags
  now/app/base/app.py
  now/common/flow/flow-external-clip.yml
  now/common/flow/flow-external-ocr.yml
  now/constants.py
Labels: area/core, size/xs

#652 docs: explain input format
  README.md
  docs/index.md
  docs/user-guides/input_format.md
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_video/app.py
  now/common/options.py
  now/constants.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, area/docs, size/m

#642 refactor: default value secured
  now/common/options.py
Labels: area/core, size/xs

#659 fix: duration
  .github/workflows/ci.yml
  .test_durations
Labels: area/housekeeping, area/cicd, size/m

#660 Fix durations cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/xs

#661 test: faster on ci
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs

#662 fix: event loop
  now/deployment/deployment.py
  tests/unit/bff/v1/routers/test_img2img.py
  tests/unit/bff/v1/routers/test_img2txt.py
  tests/unit/bff/v1/routers/test_music2music.py
  tests/unit/bff/v1/routers/test_txt2img.py
Labels: area/testing, area/core, size/s, component/deploymeny

#663 refactor: wrap auth executor
  now/constants.py
  now/executor/abstract/auth/__init__.py
  now/executor/abstract/auth/auth.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/autocomplete/executor.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/preprocessor/executor.py
  tests/executor/auth/test_integration.py
  tests/executor/auth/test_unit.py
Labels: area/testing, area/core, size/m

#666 fix: typo in labels
  .github/labeler.yml
Labels: area/housekeeping, size/xs

#658 feat: add app name
  now/common/options.py
  now/constants.py
  now/deployment/flow.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/run_backend.py
  now/utils.py
  scripts/deploy_examples.py
  tests/integration/test_end_to_end.py
  tests/unit/test_dialog.py
  tests/unit/test_utils.py
Labels: area/testing, area/script, area/core, size/s, component/deploymeny, component/deployment

#644 refactor: breakpoints in executors
  deployment/bff/app/app.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  now/README.md
  now/admin/utils.py
  now/app/base/app.py
  now/app/music_to_music/app.py
  now/app/music_to_music/ft-flow-music.yml
  now/app/text_to_text/ft-flow-sbert.yml
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/cli/__init__.py
  now/common/flow/ft-flow-clip.yml
  now/common/testing.py
  now/common/utils.py
  now/constants.py
  now/deployment/flow.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/autocomplete/README.md
  now/executor/autocomplete/__init__.py
  now/executor/autocomplete/requirements.txt
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/requirements.txt
  now/executor/indexer/in_memory/__init__.py
  now/executor/indexer/in_memory/in_memory_indexer.py
  now/executor/indexer/qdrant/README.md
  now/executor/indexer/qdrant/executor.py
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/requirements.txt
  now/run_all_k8s.py
  now/run_backend.py
  now/utils.py
  tests/executor/indexer/base/test_base_executor.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/m, component/deploymeny, area/entrypoint, component/cli, component/deployment

#675 refactor: force push
  .github/workflows/ci.yml
  now/constants.py
  now/executor/abstract/auth/auth.py
Labels: area/housekeeping, area/cicd, area/core, size/s

#676 fix(ci): hub push no-cache flag
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#677 feat: move ocr detection into preprocessor
  .github/workflows/ci.yml
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/text_to_image/app.py
  now/app/text_to_video/app.py
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/app/text_to_video/flow-video-clip.yml
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/common/flow/flow-clip.yml
  now/common/flow/flow-external-ocr.yml
  now/common/flow/ft-flow-clip.yml
  now/common/utils.py
  now/constants.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/ocr_detector/Dockerfile
  now/executor/ocr_detector/Dockerfile.gpu
  now/executor/ocr_detector/README.md
  now/executor/ocr_detector/config.yml
  now/executor/ocr_detector/executor.py
  now/executor/ocr_detector/requirements-gpu.txt
  now/executor/ocr_detector/requirements.txt
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/requirements-test.txt
  now/executor/preprocessor/requirements.txt
  requirements-test.txt
  tests/executor/preprocessor/test_integration.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m

#645 feat: new data format
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  now/app/base/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/app.py
  now/app/text_to_text/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/app/text_to_video/flow-video-clip.yml
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/common/flow/flow-clip.yml
  now/common/options.py
  now/common/preprocess.py
  now/common/utils.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/es/connector.py
  now/data_loading/es/data_extractor.py
  now/data_loading/transform_docarray.py
  now/data_loading/utils.py
  now/dialog.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/autocomplete/executor.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/qdrant/executor.py
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/requirements.txt
  now/now_dataclasses.py
  now/run_backend.py
  now/utils.py
  tests/executor/indexer/base/test_base_executor.py
  tests/executor/preprocessor/test_integration.py
  tests/integration/conftest.py
  tests/integration/data_loading/elastic/test_elasticsearch.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, component/data, size/xl

#681 Test cli
  main.py
  now/cli/__init__.py
  now/common/options.py
  tests/unit/cli/test_cli.py
Labels: area/testing, area/core, size/s, area/entrypoint, component/cli

#684 fix: support older flow
  deployment/bff/app/v1/routers/txt2video.py
  now/constants.py
Labels: area/core, size/xs

#686 refactor: preprocessor build time
  .github/workflows/ci.yml
  now/constants.py
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements-now.txt
  now/executor/preprocessor/requirements.txt
Labels: area/housekeeping, area/cicd, area/core, size/s

#674 feat: add migration to jcloud
  deployment/bff/requirements.txt
  deployment/playground/requirements.txt
  now/app/base/app.py
  now/app/base/flow.yml
  now/app/music_to_music/demo-data-flow-music.yml
  now/app/music_to_music/ft-flow-music.yml
  now/app/text_to_text/flow-sbert.yml
  now/app/text_to_text/ft-flow-sbert.yml
  now/app/text_to_text_and_image/app.py
  now/app/text_to_text_and_image/flow.yml
  now/app/text_to_text_and_image/pretrained_flow.yml
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/app/text_to_video/flow-video-clip.yml
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/common/flow/flow-clip.yml
  now/common/flow/flow-external-clip.yml
  now/common/flow/ft-flow-clip.yml
  now/common/utils.py
  now/constants.py
  now/data_loading/requirements.txt
  now/deployment/deployment.py
  now/deployment/flow.py
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  now/finetuning/run_finetuning.py
  now/run_backend.py
  now/utils.py
  requirements.txt
  tests/unit/test_utils.py
Labels: area/testing, area/setup, area/core, component/data, size/m, component/finetuning, component/deployment

#655 fix: split_by_sentences not working in txt2txt app
  now/app/text_to_text/app.py
  now/constants.py
  tests/common/__init__.py
  tests/common/test_preprocess.py
  tests/integration/test_end_to_end.py
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
Labels: area/testing, area/core, size/m

#692 fix: enable cors on bff
  deployment/bff/app/app.py
  now/constants.py
Labels: area/core, size/s

#691 feat: fix indexing
  now/executor/indexer/elastic/elastic_indexer.py
  tests/executor/indexer/elastic/test_multimodal_docs.py
Labels: area/testing, area/core, size/m

#693 refactor: remove app question
  deployment/bff/app/app.py
  deployment/playground/playground.py
  now/app/base/app.py
  now/app/image_text_retrieval/app.py
  now/app/music_to_music/app.py
  now/app/text_to_text/__init__.py
  now/app/text_to_text/app.py
  now/app/text_to_text/flow-sbert.yml
  now/app/text_to_text/ft-flow-sbert.yml
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/common/options.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/transform_docarray.py
  now/dialog.py
  now/run_all_k8s.py
  tests/executor/preprocessor/test_integration.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/bff/test_app.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_data_builder.py
Labels: size/l, area/testing, area/core, component/data

#688 feat: deactivate telemetry on ci
  now/app/base/app.py
  now/constants.py
  now/data_loading/data_loading.py
  tests/conftest.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, component/data, size/s

#669 refactor: converge image-text apps
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/text_and_image.py
  deployment/bff/app/v1/routers/im_txt2im_txt.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2txt_and_img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/admin/deploy_text_to_video.py
  now/app/base/app.py
  now/app/image_text_retrieval/__init__.py
  now/app/image_text_retrieval/app.py
  now/app/image_to_image/app.py
  now/app/image_to_text/__init__.py
  now/app/image_to_text/app.py
  now/app/music_to_music/app.py
  now/app/text_to_image/__init__.py
  now/app/text_to_text/__init__.py
  now/app/text_to_text/app.py
  now/app/text_to_text/flow-sbert.yml
  now/app/text_to_text/ft-flow-sbert.yml
  now/app/text_to_text_and_image/app.py
  now/app/text_to_video/app.py
  now/common/flow/flow-clip.yml
  now/common/options.py
  now/common/testing.py
  now/common/utils.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/transform_docarray.py
  now/data_loading/utils.py
  now/dialog.py
  now/executor/autocomplete/executor.py
  now/executor/preprocessor/executor.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  tests/executor/preprocessor/test_integration.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/bff/test_app.py
  tests/unit/bff/v1/routers/test_img2txt.py
  tests/unit/bff/v1/routers/test_img_txt_retrieval.py
  tests/unit/bff/v1/routers/test_txt2img.py
  tests/unit/cli/test_cli.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_data_builder.py
Labels: area/testing, area/core, component/data, size/xl

#697 fix: local deployment
  now/app/base/app.py
  now/constants.py
Labels: area/core, size/xs

#698 feat: update list endpoint of ElasticIndexer
  now/executor/indexer/elastic/elastic_indexer.py
  tests/executor/indexer/elastic/test_multimodal_docs.py
Labels: area/testing, area/core, size/m

#702 feat: use jina 3.10.0
  deployment/playground/requirements.txt
  now/common/flow/flow-external-clip.yml
  now/constants.py
  now/data_loading/requirements.txt
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  requirements.txt
Labels: area/setup, area/core, component/data, size/s

#701 fix: playground bug
  deployment/playground/playground.py
  deployment/playground/src/constants.py
  now/constants.py
Labels: area/core, size/s

#705 fix: text to video
  now/app/text_to_video/app.py
  now/common/datasource/__init__.py
  now/common/utils.py
  now/constants.py
  now/data_loading/transform_docarray.py
  now/executor/preprocessor/executor.py
  now/run_backend.py
  now/utils.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, component/data, size/m

#706 fix: bff text to video
  deployment/bff/app/v1/routers/txt2video.py
  now/constants.py
  tests/executor/preprocessor/test_unit.py
Labels: area/testing, area/core, size/s

#708 feat: add score breakdown for matches using ElasticIndexer
  now/executor/indexer/elastic/elastic_indexer.py
  tests/executor/indexer/elastic/test_multimodal_docs.py
Labels: area/testing, area/core, size/m

#715 Fix update clip
  now/constants.py
Labels: area/core, size/xs

#695 Refactor simplify preprocessing
  .github/workflows/ci.yml
  .test_durations
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/im_txt2im_txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/txt2video.py
  now/app/base/app.py
  now/app/base/preprocess.py
  now/app/image_text_retrieval/app.py
  now/app/music_to_music/app.py
  now/app/text_to_text_and_image/app.py
  now/app/text_to_text_and_image/flow.yml
  now/app/text_to_text_and_image/pretrained_flow.yml
  now/app/text_to_video/app.py
  now/app/text_to_video/flow-video-clip-high-performance.yml
  now/app/text_to_video/flow-video-clip.yml
  now/app/text_to_video/ft-flow-video-clip-high-performance.yml
  now/app/text_to_video/ft-flow-video-clip.yml
  now/common/flow/deploy_external_clip.py
  now/common/flow/flow-clip.yml
  now/common/preprocess.py
  now/common/testing.py
  now/common/utils.py
  now/constants.py
  now/executor/abstract/auth/auth.py
  now/executor/abstract/base_indexer/base_indexer.py
  now/executor/autocomplete/__init__.py
  now/executor/autocomplete/config.yml
  now/executor/autocomplete/executor.py
  now/executor/indexer/elastic/__init__.py
  now/executor/indexer/elastic/config.yml
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/qdrant/README.md
  now/executor/indexer/qdrant/__init__.py
  now/executor/indexer/qdrant/config.yml
  now/executor/indexer/qdrant/executor.py
  now/executor/name_to_id_map.py
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/requirements-now.txt
  now/executor/preprocessor/requirements-special.txt
  now/executor/preprocessor/requirements.txt
  now/finetuning/settings.py
  now/run_backend.py
  now/utils.py
  requirements.txt
  tests/common/__init__.py
  tests/common/test_preprocess.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/executor/indexer/base/test_base_executor.py
  tests/executor/indexer/elastic/test_executor.py
  tests/executor/preprocessor/test_integration.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/integration/test_transform_docarray.py
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/finetuning, size/xl

#717 fix: old clip encoder version
  now/constants.py
Labels: area/core, size/xs

#716 fix: path from user dir
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs
