Repository jina-ai/now, pull requests merged in 2022-06, with the labels that each got.

#238 fix: update the survey link
  deployment/playground/playground.py
  now/run_all_k8s.py
Labels: area/core, size/xs

#231 Add time profiling for CI
  now/cloud_manager.py
  now/data_loading/data_loading.py
  now/deployment/flow.py
  now/dialog.py
  now/finetuning/run_finetuning.py
  now/hub/hub.py
  now/log/__init__.py
  now/log/log.py
  now/run_all_k8s.py
  now/run_backend.py
  now/run_bff_playground.py
Labels: area/core, component/data, size/s, component/deploymeny, component/finetuning

#229 refactor: remove dockerfile
  now/Dockerfile
Labels: area/core, size/xs

#240 chore: update docarray version to 0.13.17
  .github/workflows/ci.yml
  deployment/bff/requirements.txt
  deployment/playground/playground.py
  deployment/playground/requirements.txt
  now/constants.py
  now/data_loading/data_loading.py
  now/run_all_k8s.py
  requirements.txt
  tests/integration/data_loading/test_demo_datasets.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/data, size/s

#250 Revert "docs(tracking): update external links' source (#143)"
  docs/_templates/sidebar/navigation.html
Labels: area/docs, size/s

#251 test: remove unnecessary test
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#245 style: fix text strings
  deployment/playground/playground.py
  now/constants.py
  now/dialog.py
Labels: area/core, size/s

#247 feat: add music to music app
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/app.py
  now/cli/parser.py
  now/constants.py
  now/data_loading/data_loading.py
  now/deployment/flow.py
  now/finetuning/embeddings.py
  now/finetuning/run_finetuning.py
  now/run_backend.py
  tests/unit/test_finetuning/test_music_uses_cached_hub_model.py
Labels: area/testing, area/core, component/data, size/m, component/deploymeny, component/finetuning, component/cli

#241 feat: add apps as subcommand
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/app.py
  now/cli/parser.py
  now/dialog.py
  now_common/options.py
  requirements.txt
Labels: area/setup, area/core, size/m, component/cli

#224 refactor: datasource init
  now/datasource/datasource.py
  now/datasource/example.py
Labels: area/core, size/s

#226 fix: update the endpoints based on app
  .test_durations
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/image.py
  deployment/bff/app/v1/models/music.py
  deployment/bff/app/v1/models/text.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/playground/playground.py
  now/constants.py
  now/deployment/flow/ft-flow-clip.yml
  now/deployment/flow/ft-flow-music.yml
  now/hub/hub.py
  now/run_all_k8s.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/conftest.py
  tests/unit/bff/test_app.py
  tests/unit/bff/v1/conftest.py
  tests/unit/bff/v1/routers/test_img2img.py
  tests/unit/bff/v1/routers/test_img2txt.py
  tests/unit/bff/v1/routers/test_music2music.py
  tests/unit/bff/v1/routers/test_txt2img.py
Labels: area/testing, area/core, size/m, component/deploymeny

#252 feat: add music to playground
  deployment/bff/app/v1/routers/music2music.py
  deployment/playground/playground.py
  now/apps/music_to_music/app.py
  now/constants.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/m

#254 Fix: readme survey link
  README.md
Labels: area/docs, size/xs

#257 fix: now stop delete namespace
  now/run_all_k8s.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s

#259 Feat share button
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/s

#274 feat: proceed configurable via cli
  now/cli/parser.py
Labels: area/core, size/xs, component/cli

#275 test: balance
  .test_durations
Labels: size/m

#276 fix: update version
  deployment/bff/requirements.txt
  now/apps/base/flow.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  requirements.txt
Labels: area/setup, area/core, size/s

#273 feat(datasource): add demo datasets to apps
  now/apps/base/app.py
  now/datasource/datasource.py
Labels: area/core, size/s

#279 feat: log version
  now/cli/__init__.py
Labels: area/core, size/xs, area/entrypoint, component/cli

#281 feat: bump jina version
  deployment/bff/requirements.txt
  now/apps/base/flow.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  requirements.txt
Labels: area/setup, area/core, size/s

#282 refactor: no on demand
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
Labels: area/core, size/xs

#287 fix: progress bar
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/deployment/flow.py
Labels: area/core, size/s, component/deploymeny

#284 test: jcloud debug
  tests/integration/test_end_to_end.py
Labels: area/testing, size/xs

#268 feat: add tracking
  deployment/playground/Dockerfile
  deployment/playground/custom_streamlit_index.html
  now/constants.py
Labels: area/core, size/m

#291 chore: update and release music
  now/apps/music_to_music/app.py
  now/dialog.py
Labels: area/core, size/s
