Repository jina-ai/now, pull requests merged in 2022-08, with the labels that each got.

#311 feat: add playground login
  .github/workflows/ci.yml
  Makefile
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/models/image.py
  deployment/bff/app/v1/models/music.py
  deployment/bff/app/v1/models/text.py
  deployment/bff/app/v1/models/video.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/Dockerfile
  deployment/playground/playground.py
  deployment/playground/requirements.txt
  deployment/playground/src/constants.py
  deployment/playground/src/search.py
  now/constants.py
  now/datasource/example.py
  now/deployment/flow.py
  now/dialog.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/run_backend.py
  now/utils.py
  now_common/flow/encoder_indexer_flow.yml
  now_common/utils.py
  requirements.txt
  tests/integration/test_end_to_end.py
  tests/unit/test_dialog.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/deploymeny

#324 Fix bump streamlit
  deployment/playground/Dockerfile
  deployment/playground/custom_streamlit_index.html
  deployment/playground/requirements.txt
  now/constants.py
Labels: size/l, area/core

#323 Feat add preprocess executor
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/encode-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_text/encode-flow-sbert.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/app.py
  now/apps/text_to_video/encode-flow-video-clip.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/data_loading/data_loading.py
  now/deployment/flow.py
  now/dialog.py
  now/finetuning/embeddings.py
  now/finetuning/run_finetuning.py
  now/now_dataclasses.py
  now/run_backend.py
  now_common/flow/encode-flow-clip.yml
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  requirements.txt
  tests/unit/data_loading/test_data_loading.py
Labels: size/l, area/testing, area/setup, area/core, component/data, component/deploymeny, component/finetuning

#329 Fix wrap error
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/m

#333 fix: remove getting all cookies
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/s

#337 fix: version hubble
  .github/workflows/ci.yml
  now/constants.py
  now_common/utils.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/s

#334 feat(playground-s3): adds postprocessor, uri to for indexing in bff
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .test_durations
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/cloud_temp_link.py
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/models/image.py
  deployment/bff/app/v1/models/music.py
  deployment/bff/app/v1/models/text.py
  deployment/bff/app/v1/models/video.py
  deployment/bff/app/v1/routers/cloud_temp_link.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/dialog.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/conftest.py
  tests/unit/bff/v1/routers/test_img2img.py
  tests/unit/bff/v1/routers/test_img2txt.py
  tests/unit/bff/v1/routers/test_music2music.py
  tests/unit/bff/v1/routers/test_txt2img.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/core

#339 fix(jwt-temp-link): fix jwt
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  now/constants.py
Labels: area/core, size/s

#341 Fix preproc userinput
  now/constants.py
  now/data_loading/data_loading.py
  now/finetuning/run_finetuning.py
  now/run_backend.py
Labels: area/core, component/data, size/s, component/finetuning

#335 refactor: security executor
  .test_durations
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/admin.py
  deployment/bff/app/v1/routers/admin.py
  deployment/bff/app/v1/routers/helper.py
  now/constants.py
  now/deployment/deployment.py
  now/deployment/flow.py
  now/dialog.py
  now/now_dataclasses.py
  now/run_backend.py
  now/utils.py
  now_common/utils.py
  tests/integration/test_end_to_end.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/m, component/deploymeny

#342 test: add user email
  deployment/bff/app/v1/routers/admin.py
  now/constants.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s

#346 feat: client code to update emails
  now/admin/__init__.py
  now/admin/update_email.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s

#349 fix: user emails in bff
  deployment/bff/app/v1/routers/admin.py
  now/admin/update_email.py
  now/constants.py
Labels: area/core, size/s

#356 fix: bff path
  deployment/bff/app/v1/routers/admin.py
  now/constants.py
Labels: area/core, size/s

#347 Add pagination
  deployment/playground/playground.py
  deployment/playground/src/constants.py
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/m

#362 refactor: bump auth executor version
  now/deployment/flow.py
Labels: area/core, size/xs, component/deploymeny

#365 feat: error handling in bff
  deployment/bff/app/app.py
  now/constants.py
Labels: area/core, size/s

#364 fix: use lru cache to spped up
  deployment/playground/playground.py
  deployment/playground/requirements.txt
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/s

#357 Feat annlite indexer
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .test_durations
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/app.py
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m

#363 feat: add api key to bff requests
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/routers/admin.py
  deployment/bff/app/v1/routers/cloud_temp_link.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  now/admin/search.py
  now/admin/update_api_keys.py
  now/constants.py
  now/deployment/flow.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/m, component/deploymeny

#369 refactor: boost cicd
  now/constants.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs

#370 refactor: finetune datasets
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/text_to_image/app.py
  now/constants.py
  now/finetuning/settings.py
  now_common/utils.py
Labels: area/core, size/s, component/finetuning

#371 test-enable-annoy-indexer
  now/constants.py
  now/data_loading/build_datasets.py
  now/data_loading/data_loading.py
  now/run_backend.py
  now_common/utils.py
Labels: area/core, component/data, size/s

#373 Test small test for api key
  tests/integration/security/test_api_key.py
Labels: area/testing, size/s

#367 Update JCloud and use latest jina auth
  now/dialog.py
  now/utils.py
  requirements.txt
Labels: area/setup, area/core, size/s

#379 fix: issue reported by user
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/s

#378 fix: user issue path space
  now/constants.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs

#376 Fix refined logging
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/s

#380 fix(gif-app): fix set flow yaml
  now/apps/text_to_video/app.py
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/constants.py
  now_common/utils.py
Labels: area/core, size/s

#383 feat: enable gpu
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  tests/integration/security/test_api_key.py
Labels: area/testing, area/core, size/s

#385 fix: fix chunk level search annlite
  deployment/bff/app/v1/routers/txt2video.py
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/finetuning/run_finetuning.py
  now/run_backend.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
Labels: area/core, size/s, component/finetuning

#387 Fix webcam
  deployment/playground/playground.py
  deployment/playground/requirements.txt
  deployment/playground/src/constants.py
  now/constants.py
Labels: area/core, size/s

#389 fix(annlite-chunks): fixes search chunks
  deployment/bff/app/v1/routers/txt2video.py
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/app.py
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
Labels: area/core, size/s

#390 Fix increase size
  deployment/.gitignore
  deployment/nginx/default.conf
Labels: size/xs

#392 Fix update docker call
  now/apps/base/app.py
  now/constants.py
  now/dialog.py
Labels: area/core, size/s

#393 fix: manually set memory
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/constants.py
Labels: area/core, size/xs

#395 Feat client
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/video.py
  now/admin/run_performance_test.py
  now/apps/base/app.py
  now/apps/text_to_video/app.py
  now/client/__init__.py
  now/constants.py
Labels: area/core, size/m

#397 fix: cleanup all remote flows
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
Labels: area/testing, size/s

#400 feat: trigger dispatch workflows
  .github/workflows/ci.yml
  .github/workflows/force-release.yml
Labels: area/housekeeping, area/cicd, size/s

#399 Feat custom annlite
  .github/workflows/ci.yml
  deployment/bff/app/v1/routers/txt2video.py
  now/apps/base/bff.py
  now/apps/text_to_video/app.py
  now/constants.py
  now_common/utils.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m

#401 chore: update token for workflow dispatch
  .github/workflows/force-release.yml
Labels: area/housekeeping, area/cicd, size/s

#407 fix(apply-latency): replace apply with for
  now/apps/music_to_music/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_video/app.py
  now/constants.py
  now_common/utils.py
Labels: area/core, size/s

#408 refactor client to bff
  now/admin/run_performance_test.py
  now/admin/update_api_keys.py
  now/client/__init__.py
Labels: area/core, size/m

#410 fix: yamls
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
Labels: area/core, size/s

#406 feat: setup an app for Nest
  .gitignore
  now/apps/text_to_text_and_image/__init__.py
  now/apps/text_to_text_and_image/app.py
  now/constants.py
Labels: area/core, size/s

#398 feat: add tags
  now/apps/image_to_image/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_video/app.py
  now/constants.py
  now/data_loading/data_loading.py
  tests/conftest.py
  tests/integration/test_end_to_end.py
  tests/resources/gif/folder1/file.gif
  tests/resources/gif/folder1/file.txt
  tests/resources/gif/folder1/manifest.json
  tests/resources/gif/folder2/file.gif
  tests/resources/gif/folder2/manifest.json
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, component/data, size/m

#402 Feat gif demo data
  .test_durations
  deployment/playground/src/constants.py
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/constants.py
  now/data_loading/build_datasets.py
  now/data_loading/data_loading.py
  now/data_loading/utils.py
  now/deployment/flow.py
  now/run_backend.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, component/data, size/m, component/deploymeny

#420 test: shorten gif test
  now/constants.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs

#412 Feat add nest modalities
  now/apps/text_to_text_and_image/app.py
  now/constants.py
Labels: area/core, size/s

#419 feat: add flow for text2text+image app
  now/apps/text_to_text_and_image/app.py
  now/apps/text_to_text_and_image/flow.yml
  now/constants.py
Labels: area/core, size/s

#428 fix: set env retention days to 0 for CI
  now/apps/base/flow.yml
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
Labels: area/core, size/s

#426 fix: reset post processor mem usage
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
Labels: area/core, size/s

#431 fix: update flow with env var
  now/apps/base/flow.yml
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
Labels: area/core, size/s

#434 feat: add data classes
  now/now_dataclasses.py
  tests/conftest.py
  tests/resources/config.json
  tests/unit/test_dataclasses.py
Labels: area/testing, area/core, size/m

#432 refactor: bump playground version
  deployment/playground/playground.py
  now/apps/base/app.py
  now/constants.py
Labels: area/core, size/xs

#411 feat: add path preprocessor
  .github/workflows/ci.yml
  now/constants.py
Labels: area/housekeeping, area/cicd, area/core, size/xs

#424 feat: add simple preprocessing for nested documents
  now/apps/text_to_text_and_image/app.py
  now/finetuning/data_builder.py
  now/now_dataclasses.py
  now_common/utils.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, size/m, component/finetuning

#422 feat: add tag search
  .github/workflows/ci.yml
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  now/constants.py
Labels: area/housekeeping, area/cicd, area/core, size/s

#409 Refactor no filter
  now/apps/text_to_video/app.py
  now/constants.py
Labels: area/core, size/xs

#435 refactor: reduce consumption
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
Labels: area/core, size/s

#438 Nest: wordlift data upload
  now/apps/text_to_text_and_image/app.py
  now/constants.py
  now/data_loading/utils.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, component/data, size/s
