Repository jina-ai/now, pull requests merged in 2022-05, with the labels that each got.

#121 feat(frontend-cd): added frontend deployment to ci
  .github/workflows/ci.yml
  now/deployment/k8s_frontend-deployment.yml
  now/frontend/deploy-frontend-docker.sh
  now/run_all_k8s.py
Labels: area/housekeeping, area/cicd, area/core, size/s, component/deploymeny

#127 refactor: remove redundant code
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/s

#140 Feat clean text data
  now/data_loading/build_datasets.py
  now/data_loading/utils.py
  now/dialog.py
  now/frontend/frontend.py
  now/frontend/requirements.txt
  now/run_all_k8s.py
Labels: area/core, component/data, size/s

#120 feat: data loading music
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/constants.py
  now/data_loading/data_loading.py
  now/dialog.py
  now/finetuning/finetuning.py
  now/run_all_k8s.py
  now/run_backend.py
  requirements.txt
  tests/conftest.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/resources/image/5109112832.jpg
  tests/resources/image/6785325056.jpg
  tests/resources/music/0ac463f952880e622bc15962f4f75ea51a1861a1.mp3
  tests/resources/music/0ae22dba39adebd474025d6f97059d5e425e2cf2.mp3
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/data, component/finetuning

#143 docs(tracking): update external links' source
  docs/_templates/sidebar/navigation.html
Labels: area/docs, size/s

#146 fix: only import pydub in case of music
  .github/workflows/ci.yml
  now/data_loading/data_loading.py
Labels: area/housekeeping, area/cicd, area/core, component/data, size/xs

#150 fix: waiting at zero percent
  now/deployment/flow.py
  now/finetuning/finetuning.py
Labels: area/core, size/s, component/deploymeny, component/finetuning

#148 refactor: make dialog steps more descriptive
  now/dialog.py
Labels: area/core, size/m

#149 feat(dialog): add install instructions audio
  now/deployment/deployment.py
  now/dialog.py
  now/utils.py
Labels: area/core, size/m, component/deploymeny

#128 feat: update logo shown on frontend
  .gitignore
  docs/_static/favicon.png
  docs/_static/now-dark.svg
  docs/_templates/page.html
  docs/conf.py
  docs/makedoc.sh
  now/cli/__init__.py
  now/frontend/frontend.py
  now/frontend/logo.jpg
  now/run_all_k8s.py
Labels: area/core, area/docs, size/s, area/entrypoint, component/cli

#151 fix: deactivate sandbox
  now/dialog.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s

#153 Test no spinning during tests
  now/cloud_manager.py
  now/data_loading/data_loading.py
  now/deployment/flow.py
  now/dialog.py
  now/finetuning/finetuning.py
  now/gke_deploy.py
  now/hub/hub.py
  now/log/__init__.py
  now/log/log.py
  now/run_all_k8s.py
  now/run_backend.py
  now/run_frontend.py
  now/thridparty/__init__.py
  now/utils.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, component/data, size/m, component/deploymeny, component/finetuning

#112 feat: add bff using FastAPI
  now/bff/__init__.py
  now/bff/app.py
  now/bff/decorators.py
  now/bff/requirements.txt
  now/bff/settings.py
  now/bff/v1/__init__.py
  now/bff/v1/api.py
  now/bff/v1/models/helper.py
  now/bff/v1/models/image.py
  now/bff/v1/models/text.py
  now/bff/v1/routers/__init__.py
  now/bff/v1/routers/helper.py
  now/bff/v1/routers/image.py
  now/bff/v1/routers/text.py
  tests/integration/conftest.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/__init__.py
  tests/unit/bff/conftest.py
  tests/unit/bff/test_app.py
  tests/unit/bff/test_decorators.py
  tests/unit/bff/v1/__init__.py
  tests/unit/bff/v1/conftest.py
  tests/unit/bff/v1/routers/__init__.py
  tests/unit/bff/v1/routers/test_image.py
  tests/unit/bff/v1/routers/test_text.py
Labels: size/l, area/testing, area/core

#139 feat: custom text data
  now/data_loading/data_loading.py
  now/dialog.py
  now/frontend/frontend.py
  now/run_all_k8s.py
  requirements.txt
Labels: area/setup, area/core, component/data, size/m

#158 fix: check version
  now/cli/__init__.py
  now/data_loading/requirements.txt
  now/frontend/requirements.txt
  now/run_all_k8s.py
  requirements.txt
Labels: area/setup, area/core, component/data, size/s, area/entrypoint, component/cli

#162 fix: workaround first request hangs
  now/deployment/flow.py
Labels: area/core, size/xs, component/deploymeny

#167 refactor: use jina perf for frontend
  now/frontend/requirements.txt
  now/run_all_k8s.py
Labels: area/core, size/xs

#166 refactor: simple indexer
  now/data_loading/requirements.txt
  now/deployment/flow.py
  now/hub/most_simple_indexer/.dockerignore
  now/hub/most_simple_indexer/.jina/secret.key
  now/hub/most_simple_indexer/Dockerfile
  now/hub/most_simple_indexer/__init__.py
  now/hub/most_simple_indexer/config.yml
  now/hub/most_simple_indexer/manifest.yml
  now/hub/most_simple_indexer/most_simple_indexer.py
  now/hub/most_simple_indexer/requirements.txt
  requirements.txt
  tests/integration/test_end_to_end.py
Labels: area/testing, area/setup, area/core, component/data, size/s, component/deploymeny

#169 fix: svg logo
  now/frontend/frontend.py
  now/frontend/logo.jpg
  now/run_all_k8s.py
Labels: area/core, size/s

#156 feat: wolf support
  .github/workflows/ci.yml
  README.md
  now/bff/v1/routers/image.py
  now/bff/v1/routers/text.py
  now/cli/__init__.py
  now/cloud_manager.py
  now/constants.py
  now/data_loading/requirements.txt
  now/deployment/deployment.py
  now/deployment/flow.py
  now/deployment/flow/flow.yml
  now/deployment/flow/ft-flow.yml
  now/dialog.py
  now/frontend/frontend.py
  now/frontend/requirements.txt
  now/hub/hub.py
  now/log/log.py
  now/run_all_k8s.py
  now/run_backend.py
  now/run_frontend.py
  now/utils.py
  requirements.txt
  tests/integration/test_end_to_end.py
  tests/unit/bff/v1/routers/test_image.py
  tests/unit/bff/v1/routers/test_text.py
  tests/unit/test_dialog.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/data, area/docs, component/deploymeny, area/entrypoint, component/cli

#174 feat: survey
  now/cli/parser.py
  now/constants.py
  now/run_all_k8s.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/m, component/cli

#175 fix(ci): add dependency in cd
  .github/slack-pypi.json
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, size/s

#161 feat: deploy bff and frontend on AWS
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  deployment/__init__.py
  deployment/bff/Dockerfile
  deployment/bff/__init__.py
  deployment/bff/app/__init__.py
  deployment/bff/app/app.py
  deployment/bff/app/decorators.py
  deployment/bff/app/settings.py
  deployment/bff/app/v1/__init__.py
  deployment/bff/app/v1/api.py
  deployment/bff/app/v1/models/__init__.py
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/models/image.py
  deployment/bff/app/v1/models/text.py
  deployment/bff/app/v1/routers/__init__.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/image.py
  deployment/bff/app/v1/routers/text.py
  deployment/bff/requirements.txt
  deployment/frontend/.dockerignore
  deployment/frontend/Dockerfile
  deployment/frontend/frontend.py
  deployment/frontend/logo.svg
  deployment/frontend/requirements.txt
  deployment/nginx/Dockerfile
  deployment/nginx/configs/default.conf
  docker-compose.yml
  now/bff/__init__.py
  now/bff/requirements.txt
  now/cli/__init__.py
  now/cloud_manager.py
  now/deployment/flow.py
  now/deployment/k8s_frontend-deployment.yml
  now/deployment/k8s_frontend-svc-node.yml
  now/dialog.py
  now/frontend/Dockerfile
  now/hub/hub.py
  now/kind.yml
  now/run_all_k8s.py
  now/run_backend.py
  now/run_frontend.py
  now/scripts/install_kind.sh
  requirements.txt
  tests/integration/conftest.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/conftest.py
  tests/unit/bff/test_decorators.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/deploymeny, area/entrypoint, component/cli

#184 fix: logging issue
  deployment/bff/requirements.txt
  now/data_loading/requirements.txt
  now/deployment/flow.py
  now/run_all_k8s.py
  requirements.txt
Labels: area/setup, area/core, component/data, size/s, component/deploymeny

#186 refactor: cleanup
  now/deployment/deployment.py
  now/deployment/flow.py
  now/dialog.py
  now/run_backend.py
  now/utils.py
  tests/integration/test_end_to_end.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/s, component/deploymeny

#185 refactor: rename frontend to playground
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  deployment/frontend/Dockerfile
  deployment/frontend/logo.svg
  deployment/nginx/configs/default.conf
  deployment/playground/.dockerignore
  deployment/playground/Dockerfile
  deployment/playground/playground.py
  deployment/playground/requirements.txt
  docker-compose.yml
  now/deployment/k8s_playground-deployment.yml
  now/deployment/k8s_playground-svc-lb.yml
  now/deployment/k8s_playground-svc-node.yml
  now/dialog.py
  now/run_all_k8s.py
  now/run_playground.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m, component/deploymeny

#179 fix: update the cli args
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/cli/parser.py
  now/dialog.py
  tests/unit/test_dialog.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/s, component/cli

#178 refactor: remove gke occurrences
  .github/workflows/ci.yml
  now/cli/__init__.py
  now/cli/parser.py
  now/cloud_manager.py
  now/deployment/deployment.py
  now/dialog.py
  now/gke_deploy.py
  now/resources/jina-now.logo
  now/run_all_k8s.py
  now/scripts/gke_deploy.sh
  now/scripts/install_gcloud.sh
  now/thirdparty/PyInquirer/__init__.py
  now/thirdparty/PyInquirer/color_print.py
  now/thirdparty/PyInquirer/prompt.py
  now/thirdparty/PyInquirer/prompts/__init__.py
  now/thirdparty/PyInquirer/prompts/checkbox.py
  now/thirdparty/PyInquirer/prompts/common.py
  now/thirdparty/PyInquirer/prompts/confirm.py
  now/thirdparty/PyInquirer/prompts/editor.py
  now/thirdparty/PyInquirer/prompts/expand.py
  now/thirdparty/PyInquirer/prompts/input.py
  now/thirdparty/PyInquirer/prompts/list.py
  now/thirdparty/PyInquirer/prompts/password.py
  now/thirdparty/PyInquirer/prompts/rawlist.py
  now/thirdparty/PyInquirer/separator.py
  now/thirdparty/PyInquirer/utils.py
  now/thirdparty/__init__.py
  now/utils.py
  tests/unit/test_dialog.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m, component/deploymeny, area/entrypoint, component/cli

#198 Execute CI tests in parallel
  .github/workflows/ci.yml
  .test_durations
  now/constants.py
  requirements-dev.txt
  setup.py
  tests/README.md
  tests/unit/test_dialog.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, size/m

#154 feat: finetune music
  now/cli/parser.py
  now/constants.py
  now/data_loading/data_loading.py
  now/deployment/flow.py
  now/deployment/flow/flow-clip.yml
  now/deployment/flow/ft-flow-clip.yml
  now/deployment/flow/ft-flow-music.yml
  now/dialog.py
  now/finetuning/dataset.py
  now/finetuning/embeddings.py
  now/finetuning/finetuning.py
  now/finetuning/run_finetuning.py
  now/finetuning/settings.py
  now/hub/head_encoder/head_encoder.py
  now/run_all_k8s.py
  now/run_backend.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/v1/conftest.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_dataset.py
Labels: area/testing, area/core, component/data, component/deploymeny, component/finetuning, component/cli, size/xl

#207 Feat: Deploy to new domain and small fixes
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  deployment/bff/Dockerfile
  deployment/bff/app/app.py
  deployment/nginx/Dockerfile
  deployment/nginx/default.conf
  deployment/playground/playground.py
  now/run_all_k8s.py
  now/run_bff_playground.py
  tests/unit/bff/test_app.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/s

#202 docs: update readme remote
  README.md
Labels: area/docs, size/s

#217 Fix protobuf version
  deployment/bff/requirements.txt
  deployment/playground/requirements.txt
  now/run_all_k8s.py
Labels: area/core, size/xs

#206 feat: add router for modalities
  .github/workflows/ci.yml
  deployment/bff/app/app.py
  deployment/bff/app/v1/api.py
  now/run_all_k8s.py
  tests/unit/bff/test_app.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/s

#200 chore: changed wording to reduce ambiguity between DocArray and datasets
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/s

#220 fix: convert tensor first
  deployment/playground/playground.py
  now/run_all_k8s.py
Labels: area/core, size/s

#188 refactor: separated apps
  .test_durations
  deployment/playground/playground.py
  now/apps/__init__.py
  now/apps/base/__init__.py
  now/apps/base/app.py
  now/apps/base/bff.py
  now/apps/base/flow.yml
  now/apps/base/playground.py
  now/apps/image_to_image/__init__.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/__init__.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/__init__.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/__init__.py
  now/apps/text_to_image/app.py
  now/cli/parser.py
  now/cloud_manager.py
  now/constants.py
  now/data_loading/data_loading.py
  now/dataclasses.py
  now/datasource/__init__.py
  now/datasource/datasource.py
  now/datasource/example.py
  now/deployment/flow.py
  now/dialog.py
  now/finetuning/embeddings.py
  now/finetuning/run_finetuning.py
  now/finetuning/settings.py
  now/run_all_k8s.py
  now/run_backend.py
  now/system_information.py
  now/utils.py
  now_common/__init__.py
  now_common/datasource.py
  now_common/flow/encoder_indexer_flow.yml
  now_common/options.py
  requirements-test.txt
  tests/integration/data_loading/test_demo_datasets.py
  tests/integration/test_end_to_end.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_music_uses_cached_hub_model.py
Labels: area/testing, area/core, component/data, component/deploymeny, component/finetuning, component/cli, size/xl

#221 refactor: test requirements
  requirements-test.txt
  setup.py
Labels: area/setup, size/s
