Repository jina-ai/now, pull requests merged in 2022-07, with the labels that each got.

#292 feat(docs): add qabot to jina now docs
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs, size/s

#290 fix: reduce request_size
  now/deployment/flow.py
Labels: area/core, size/xs, component/deploymeny

#296 Fix update flow retention
  now/apps/base/flow.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/deployment/flow.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  requirements.txt
Labels: area/setup, area/core, size/s, component/deploymeny

#297 feat: enable monitoring for flow-clip
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now_common/flow/flow-clip.yml
Labels: area/housekeeping, area/cicd, size/xs

#298 fix: the uri loading
  deployment/playground/playground.py
  now/constants.py
  now/data_loading/data_loading.py
  now/dataclasses.py
  now/dialog.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, component/data, size/s

#302 fix: video
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/xs

#306 feat: upgrade jcloud version
  requirements.txt
Labels: area/setup, size/xs

#258 feat(app): add docker mem limit
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_video/app.py
  now/dialog.py
Labels: area/core, size/s

#305 feat: list all wolf deployments when asking to delete flows
  now/deployment/deployment.py
  now/run_all_k8s.py
Labels: area/core, size/s, component/deploymeny

#300 Refactor playground
  deployment/playground/playground.py
  deployment/playground/src/__init__.py
  deployment/playground/src/constants.py
  deployment/playground/src/search.py
  now/constants.py
Labels: size/l, area/core

#309 fix: playground
  deployment/playground/src/constants.py
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/xs

#278 feat: integrate finetuner client
  .github/workflows/ci.yml
  .test_durations
  deployment/bff/app/v1/routers/helper.py
  deployment/playground/playground.py
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_video/app.py
  now/cloud_manager.py
  now/constants.py
  now/data_loading/data_loading.py
  now/deployment/flow.py
  now/dialog.py
  now/finetuning/dataset.py
  now/finetuning/embeddings.py
  now/finetuning/run_finetuning.py
  now/finetuning/settings.py
  now/hub/__init__.py
  now/hub/head_encoder/.dockerignore
  now/hub/head_encoder/.jina/secret.key
  now/hub/head_encoder/Dockerfile
  now/hub/head_encoder/__init__.py
  now/hub/head_encoder/config.yml
  now/hub/head_encoder/head_encoder.py
  now/hub/head_encoder/manifest.yml
  now/hub/head_encoder/requirements.txt
  now/hub/hub.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/run_backend.py
  now_common/flow/ft-flow-clip.yml
  requirements.txt
  setup.py
  tests/integration/conftest.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/integration/finetuning/test_finetuner_api.py
  tests/integration/test_end_to_end.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/data_loading/test_embed_dataset.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_dataset.py
  tests/unit/test_finetuning/test_music_uses_cached_hub_model.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/data, component/deploymeny, component/finetuning

#318 Feat: Load from S3 Bucket
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_video/app.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/utils.py
  now/datasource/datasource.py
  now/dialog.py
  now/now_dataclasses.py
  now/run_backend.py
  now_common/utils.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/unit/data_loading/test_data_loading.py
Labels: size/l, area/testing, area/core, component/data
