Repository jina-ai/now, pull requests merged in 2022-09, with the labels that each got.

#437 feat: use cas executor for clip
  deployment/bff/app/v1/routers/txt2video.py
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_video/app.py
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/utils.py
  now/datasource/datasource.py
  now/finetuning/settings.py
  now/now_dataclasses.py
  now/run_backend.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/options.py
  now_common/utils.py
  tests/integration/data_loading/test_demo_datasets.py
  tests/integration/security/test_api_key.py
Labels: size/l, area/testing, area/core, component/data, component/finetuning

#441 refactor: deactivate gpu
  now/constants.py
  now_common/utils.py
Labels: area/core, size/xs

#454 test: timeout
  tests/integration/test_end_to_end.py
Labels: area/testing, size/xs

#447 Refactor ds memory optimization
  now/constants.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs

#460 fix: missing space in sentence
  now/dialog.py
Labels: area/core, size/xs

#453 Move all executors into public repo
  .github/workflows/ci.yml
  .github/workflows/manual-auth-executor-build.yml
  .gitignore
  now/constants.py
  now/deployment/flow.py
  now_common/utils.py
  now_executors/CastNMoveNowExecutor/README.md
  now_executors/CastNMoveNowExecutor/config.yml
  now_executors/CastNMoveNowExecutor/executor.py
  now_executors/CastNMoveNowExecutor/manifest.yml
  now_executors/CastNMoveNowExecutor/requirements.txt
  now_executors/NOWAuthExecutor/README.md
  now_executors/NOWAuthExecutor/config.yml
  now_executors/NOWAuthExecutor/executor.py
  now_executors/NOWAuthExecutor/manifest.yml
  now_executors/NOWAuthExecutor/requirements-test.txt
  now_executors/NOWAuthExecutor/requirements.txt
  now_executors/NOWAuthExecutor/tests/__init__.py
  now_executors/NOWAuthExecutor/tests/test_integration.py
  now_executors/NOWAuthExecutor/tests/test_unit.py
  now_executors/NOWPostprocessor/README.md
  now_executors/NOWPostprocessor/config.yml
  now_executors/NOWPostprocessor/executor.py
  now_executors/NOWPostprocessor/manifest.yml
  now_executors/NOWPostprocessor/requirements-test.txt
  now_executors/NOWPostprocessor/requirements.txt
  now_executors/NOWPostprocessor/tests/__init__.py
  now_executors/NOWPostprocessor/tests/test_integration.py
  now_executors/NOWPreprocessor/README.md
  now_executors/NOWPreprocessor/config.yml
  now_executors/NOWPreprocessor/executor.py
  now_executors/NOWPreprocessor/manifest.yml
  now_executors/NOWPreprocessor/requirements-test.txt
  now_executors/NOWPreprocessor/requirements.txt
  now_executors/NOWPreprocessor/tests/__init__.py
  now_executors/NOWPreprocessor/tests/test_integration.py
  now_executors/ann_lite_now/Dockerfile
  now_executors/ann_lite_now/README.md
  now_executors/ann_lite_now/__init__.py
  now_executors/ann_lite_now/config.yml
  now_executors/ann_lite_now/executor.py
  now_executors/ann_lite_now/manifest.yml
  now_executors/ann_lite_now/requirements.txt
  now_executors/ann_lite_now/tests/__init__.py
  now_executors/ann_lite_now/tests/requirements.txt
  now_executors/ann_lite_now/tests/test_executor.py
  now_executors/docarray_indexer/.dockerignore
  now_executors/docarray_indexer/Dockerfile
  now_executors/docarray_indexer/config.yml
  now_executors/docarray_indexer/docarray_indexer_v2.py
  now_executors/docarray_indexer/manifest.yml
  now_executors/docarray_indexer/requirements.txt
  now_executors/docarray_indexer/tests/test_integration.py
  tests/integration/security/test_api_key.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, component/deploymeny, size/xl

#462 refactor: ci for preprocessor
  .github/workflows/ci.yml
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/constants.py
  now_common/preprocess.py
  now_common/utils.py
Labels: area/housekeeping, area/cicd, area/core, size/m

#464 refactor: bump jina version
  deployment/bff/requirements.txt
  deployment/playground/requirements.txt
  now/constants.py
  now_executors/CastNMoveNowExecutor/requirements.txt
  requirements.txt
Labels: area/setup, area/core, size/s

#463 ci: enable hub push verbosity for more logs
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/xs

#461 Fix auth exec restart
  .github/workflows/ci.yml
  now/constants.py
  now_executors/NOWAuthExecutor/executor.py
  now_executors/NOWAuthExecutor/tests/test_integration.py
  now_executors/NOWPreprocessor/tests/test_integration.py
Labels: area/housekeeping, area/cicd, area/core, size/m

#455 fix: file endings
  now/apps/base/app.py
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/music_to_music/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_text/app.py
  now/apps/text_to_video/app.py
  now/constants.py
  now/data_loading/data_loading.py
  requirements.txt
  tests/resources/gif/folder1/manifest.json
  tests/resources/gif/folder1/meta.json
  tests/resources/gif/folder2/manifest.json
  tests/resources/gif/folder2/meta.json
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/setup, area/core, component/data, size/m

#440 feat: preprocessing and data generation
  now/apps/text_to_text_and_image/app.py
  now/apps/text_to_text_and_image/flow.yml
  now/constants.py
  now/data_loading/migrate_datasets.py
  now/data_loading/utils.py
  now/finetuning/data_builder.py
  now/finetuning/generation_fns.py
  now/finetuning/run_finetuning.py
  now/now_dataclasses.py
  now/run_backend.py
  now/thirdparty/PyInquirer/__init__.py
  now/thirdparty/PyInquirer/color_print.py
  now/thirdparty/PyInquirer/prompt.py
  now/thirdparty/PyInquirer/prompts/__init__.py
  now/thirdparty/PyInquirer/prompts/checkbox.py
  now/thirdparty/PyInquirer/prompts/common.py
  now/thirdparty/PyInquirer/prompts/confirm.py
  now/thirdparty/PyInquirer/prompts/editor.py
  now/thirdparty/PyInquirer/prompts/expand.py
  now/thirdparty/PyInquirer/prompts/input.py
  now/thirdparty/PyInquirer/prompts/list.py
  now/thirdparty/PyInquirer/prompts/password.py
  now/thirdparty/PyInquirer/prompts/rawlist.py
  now/thirdparty/PyInquirer/utils.py
  now_common/preprocess.py
  requirements.txt
  tests/conftest.py
  tests/resources/nest/config.json
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dataclasses.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_data_builder.py
Labels: area/testing, area/setup, area/core, component/data, component/finetuning, size/xl

#442 fix: adapt annlite
  deployment/bff/app/v1/routers/helper.py
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/data_loading/data_loading.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, component/data, size/s

#413 refactor: performance test
  now/admin/benchmark_flow.py
  now/admin/flow_results.py
  now/admin/run_performance_test.py
  now/admin/update_api_keys.py
  now/client/__init__.py
Labels: area/core, size/m

#469 feat: update executors
  now_executors/ann_lite_now/README.md
  now_executors/ann_lite_now/config.yml
  now_executors/ann_lite_now/executor.py
  now_executors/ann_lite_now/manifest.yml
  now_executors/ann_lite_now/tests/test_executor.py
  now_executors/docarray_indexer/config.yml
  now_executors/docarray_indexer/docarray_indexer_v3.py
  now_executors/docarray_indexer/manifest.yml
  now_executors/docarray_indexer/tests/test_integration.py
Labels: size/m

#468 fix: loading tags
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/data_loading/data_loading.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, component/data, size/m

#459 Refactor dialog app options
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  .test_durations
  now/apps/base/app.py
  now/apps/image_to_text/app.py
  now/apps/text_to_text/app.py
  now/cli/parser.py
  now/cloud_manager.py
  now/constants.py
  now/data_loading/data_loading.py
  now/dialog.py
  now/finetuning/run_finetuning.py
  now/finetuning/settings.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/run_backend.py
  now/utils.py
  now_common/options.py
  now_common/utils.py
  now_executors/NOWPreprocessor/executor.py
  now_executors/NOWPreprocessor/tests/test_integration.py
  requirements.txt
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
  tests/unit/test_finetuning/test_data_builder.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, component/data, component/finetuning, component/cli, size/xl

#471 feat: add list endpoint
  now_executors/ann_lite_now/executor.py
  now_executors/ann_lite_now/tests/test_executor.py
  now_executors/docarray_indexer/docarray_indexer_v3.py
  now_executors/docarray_indexer/tests/test_integration.py
Labels: size/m

#476 feat: index delete by filter
  now_executors/ann_lite_now/executor.py
  now_executors/ann_lite_now/tests/test_executor.py
  now_executors/docarray_indexer/docarray_indexer_v3.py
  now_executors/docarray_indexer/tests/test_integration.py
Labels: size/m

#477 feat: set jina log level of gateway to debug
  now/apps/base/flow.yml
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_text_and_image/flow.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
Labels: area/core, size/s

#470 feat: adapt finetuning to nest
  now/constants.py
  now/finetuning/run_finetuning.py
  now/finetuning/settings.py
  now_common/utils.py
  tests/integration/test_end_to_end.py
  tests/unit/test_finetuning/test_dataset.py
  tests/unit/test_finetuning/test_run_finetuning.py
Labels: area/testing, area/core, size/m, component/finetuning

#465 fix: secure preprocessor
  .github/workflows/ci.yml
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/routers/img2img.py
  now/apps/base/flow.yml
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_text_and_image/flow.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/deployment/flow.py
  now/utils.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  now_executors/NOWAuthExecutor/__init__.py
  now_executors/NOWAuthExecutor/executor.py
  now_executors/NOWAuthExecutor/requirements.txt
  now_executors/NOWPreprocessor/executor.py
  now_executors/NOWPreprocessor/requirements.txt
  now_executors/__init__.py
  requirements.txt
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/setup, area/core, size/m, component/deploymeny

#483 fix: update cli parser
  now/cli/parser.py
  now/finetuning/run_finetuning.py
  now/run_backend.py
Labels: area/core, size/s, component/finetuning, component/cli

#487 feat: AnnLite indexer on ci + secure + only AnnLite indexer + replace CaS CLIP executor
  .github/workflows/ci.yml
  now/apps/image_to_image/app.py
  now/apps/image_to_text/app.py
  now/apps/text_to_image/app.py
  now/apps/text_to_video/app.py
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/data_loading/data_loading.py
  now_common/flow/flow-clip.yml
  now_common/flow/flow-external-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  now_executors/NOWAnnLiteIndexer/Dockerfile
  now_executors/NOWAnnLiteIndexer/README.md
  now_executors/NOWAnnLiteIndexer/__init__.py
  now_executors/NOWAnnLiteIndexer/config.yml
  now_executors/NOWAnnLiteIndexer/executor.py
  now_executors/NOWAnnLiteIndexer/requirements.txt
  now_executors/NOWAnnLiteIndexer/tests/__init__.py
  now_executors/NOWAnnLiteIndexer/tests/requirements.txt
  now_executors/NOWAnnLiteIndexer/tests/test_executor.py
  now_executors/ann_lite_now/config.yml
  now_executors/ann_lite_now/manifest.yml
  now_executors/ann_lite_now/requirements.txt
  tests/integration/security/test_api_key.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, component/data, size/m

#491 fix: remove docarray indexer
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  now_executors/docarray_indexer/.dockerignore
  now_executors/docarray_indexer/Dockerfile
  now_executors/docarray_indexer/config.yml
  now_executors/docarray_indexer/docarray_indexer_v3.py
  now_executors/docarray_indexer/manifest.yml
  now_executors/docarray_indexer/requirements.txt
  now_executors/docarray_indexer/tests/test_integration.py
Labels: area/core, size/m

#490 feat: preprocessor gets tags
  now/admin/deploy_examples.py
  now/apps/text_to_video/app.py
  now/constants.py
  now/data_loading/data_loading.py
  now_executors/NOWPreprocessor/executor.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, component/data, size/m

#492 feat: improve code coverage
  now/run_all_k8s.py
  now/utils.py
  tests/unit/apps/__init__.py
  tests/unit/apps/test_apps.py
Labels: area/testing, area/core, size/s

#493 test: preprocessing
  now/apps/text_to_video/app.py
  now/constants.py
  tests/unit/apps/test_preprocessing.py
Labels: area/testing, area/core, size/s

#494 fix: add api keys
  now/admin/update_api_keys.py
Labels: area/core, size/s

#497 fix: docs build
  docs/requirements.txt
Labels: area/docs, size/xs

#496 fix: no email ignore error
  now/utils.py
Labels: area/core, size/xs

#500 fix: missing arg in music app
  now/apps/music_to_music/app.py
  now/constants.py
Labels: area/core, size/xs

#472 feat: nest setup
  now/apps/text_to_text_and_image/app.py
  now/constants.py
  now/deployment/deployment.py
  now/finetuning/data_builder.py
  now/finetuning/dataset.py
  now/finetuning/generation_fns.py
  now/finetuning/run_finetuning.py
  now/finetuning/settings.py
  now/run_backend.py
  now_common/options.py
  now_common/preprocess.py
  requirements.txt
  tests/unit/test_finetuning/test_data_builder.py
Labels: area/testing, area/setup, area/core, size/m, component/deploymeny, component/finetuning

#495 refactor: remove security executor deployment
  now/deployment/flow.py
  now/run_backend.py
  tests/integration/security/test_api_key.py
Labels: area/testing, area/core, size/s, component/deploymeny

#499 Refactor dialog start stop
  now/cli/__init__.py
  now/dialog.py
  now/run_all_k8s.py
  now_common/options.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/s, area/entrypoint, component/cli

#505 fix: cd
  now/apps/base/app.py
  now/constants.py
  now/dialog.py
Labels: area/core, size/xs

#489 Fix local finetuning
  .gitignore
  now/apps/music_to_music/demo-data-flow-music.yml
  now/apps/music_to_music/ft-flow-music.yml
  now/apps/text_to_text/flow-sbert.yml
  now/apps/text_to_text/ft-flow-sbert.yml
  now/apps/text_to_video/flow-video-clip-high-performance.yml
  now/apps/text_to_video/flow-video-clip.yml
  now/apps/text_to_video/ft-flow-video-clip-high-performance.yml
  now/apps/text_to_video/ft-flow-video-clip.yml
  now/constants.py
  now/finetuning/run_finetuning.py
  now/run_backend.py
  now_common/flow/flow-clip.yml
  now_common/flow/ft-flow-clip.yml
  now_common/utils.py
  now_executors/NOWPreprocessor/executor.py
  now_executors/NOWPreprocessor/tests/test.jpg
  now_executors/NOWPreprocessor/tests/test_integration.py
Labels: area/core, size/m, component/finetuning

#502 test: add tests for nest
  now/apps/text_to_text_and_image/app.py
  now/constants.py
  now/dialog.py
  now_common/options.py
  tests/conftest.py
  tests/resources/text+image/config.json
  tests/unit/apps/test_options.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/test_dataclasses.py
  tests/unit/test_finetuning/test_data_builder.py
  tests/unit/test_finetuning/test_run_finetuning.py
Labels: area/testing, area/core, size/m

#510 refactor: helpful script to deploy text to video
  now/admin/deploy_text_to_video.py
Labels: area/core, size/s

#511 fix: logout issue
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/s

#473 feat: add filtering playground
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/constants.py
  now/run_backend.py
  now_common/utils.py
  now_executors/NOWAnnLiteIndexer/README.md
  now_executors/NOWAnnLiteIndexer/executor.py
  now_executors/NOWAnnLiteIndexer/tests/test_executor.py
  now_executors/NOWPostprocessor/executor.py
Labels: area/core, size/m

#519 fix: add jina requirement
  deployment/playground/requirements.txt
  now/constants.py
Labels: area/core, size/xs

#520 Fix revert playground tags
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/img2img.py
  deployment/bff/app/v1/routers/img2txt.py
  deployment/bff/app/v1/routers/music2music.py
  deployment/bff/app/v1/routers/text2text.py
  deployment/bff/app/v1/routers/txt2img.py
  deployment/bff/app/v1/routers/txt2video.py
  deployment/playground/playground.py
  deployment/playground/requirements.txt
  deployment/playground/src/search.py
  now/constants.py
  now/run_backend.py
  now_common/utils.py
  now_executors/NOWAnnLiteIndexer/README.md
  now_executors/NOWAnnLiteIndexer/executor.py
  now_executors/NOWAnnLiteIndexer/tests/test_executor.py
  now_executors/NOWPostprocessor/executor.py
Labels: area/core, size/m

#525 fix: playground url inside try catch
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/s

#517 feat: elasticsearch as a datasource
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/es/__init__.py
  now/data_loading/es/connector.py
  now/data_loading/es/data_extractor.py
  now/data_loading/utils.py
  now/finetuning/data_builder.py
  now/finetuning/generation_fns.py
  now_common/options.py
  now_common/preprocess.py
  requirements.txt
  tests/integration/conftest.py
  tests/integration/data_loading/es/__init__.py
  tests/integration/data_loading/es/conftest.py
  tests/integration/data_loading/es/example_dataset.py
  tests/integration/data_loading/es/test_elasticsearch.py
  tests/integration/data_loading/es/utils.py
  tests/resources/text+image/docker-compose.yml
  tests/resources/text+image/online_shop_corpus.jsonl.gz
  tests/resources/text+image/online_shop_mapping.json
  tests/resources/text+image/query.json
  tests/unit/apps/test_preprocessing.py
  tests/unit/test_finetuning/test_data_builder.py
Labels: size/l, area/testing, area/setup, area/core, component/data, component/finetuning

#524 docs: update docs
  README.md
  docs/index.md
  docs/user-guides/cli_api.md
  docs/user-guides/production.md
  tests/integration/test_end_to_end.py
Labels: area/testing, area/docs, size/m

#523 feat: introduce Elasticsearch options to CLI
  now/apps/text_to_text_and_image/app.py
  now/apps/text_to_text_and_image/task_config.json
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/es/connector.py
  now/data_loading/es/data_extractor.py
  now/data_loading/utils.py
  now/now_dataclasses.py
  now_common/options.py
  tests/integration/conftest.py
  tests/integration/data_loading/es/conftest.py
  tests/integration/data_loading/es/test_elasticsearch.py
  tests/resources/text+image/query.json
  tests/unit/apps/test_options.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/test_dataclasses.py
  tests/unit/test_finetuning/test_data_builder.py
  tests/unit/test_finetuning/test_run_finetuning.py
Labels: area/testing, area/core, component/data, size/m

#534 refactor: cleanup quality
  .test_durations
  now/datasource/datasource.py
  now/datasource/example.py
  now/improvements/improvements.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now_common/options.py
  tests/integration/test_end_to_end.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_finetuning/test_data_builder.py
Labels: area/testing, area/core, size/m

#540 fix: update list endpoint and test cases
  now/constants.py
  now_executors/NOWAnnLiteIndexer/executor.py
  tests/now_executors/NOWAnnLiteIndexer/test_executor.py
Labels: area/testing, area/core, size/s

#535 refactor: request size
  now/apps/base/app.py
  now/apps/text_to_video/app.py
  now/constants.py
  now/data_loading/data_loading.py
  now/finetuning/run_finetuning.py
  now/run_backend.py
Labels: area/core, component/data, size/s, component/finetuning

#538 docs: fix gifs
  README.md
  docs/index.md
  docs/main.md
Labels: area/docs, size/s

#545 fix: multiple initialisation prints
  now/cli/__init__.py
Labels: area/core, size/xs, area/entrypoint, component/cli

#549 chore: bump finetuner version
  requirements.txt
Labels: area/setup, size/xs

#544 fix: make url more obvious
  now/run_all_k8s.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/s

#551 fix: bump version
  now/__init__.py
Labels: area/core, size/xs

#543 Refactor remove jc secret
  now/admin/update_api_keys.py
  now/admin/update_email.py
  now/admin/utils.py
  now/constants.py
  now/deployment/deployment.py
  now/deployment/flow.py
  now/run_all_k8s.py
  tests/integration/security/test_api_key.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/m, component/deploymeny
