Repository jina-ai/now, pull requests merged in 2023-05, with the labels that each got.

#1278 fix: update jina version
  .github/actions/push-executor/action.yml
  now/common/flow/flow-external-clip.yml
  now/common/flow/flow-external-sbert.yml
  now/constants.py
  now/executor/gateway/Dockerfile
  now/executor/gateway/playground/playground.py
  now/executor/gateway/requirements.txt
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  now/run_backend.py
  requirements.txt
Labels: area/housekeeping, area/setup, area/core, size/s

#1279 fix: add nowapi at the end
  now/common/options.py
Labels: area/core, size/s

#1276 feat: add flow id to meta
  now/constants.py
  now/executor/gateway/hubble_report.py
  requirements-test.txt
  requirements.txt
  tests/executor/gateway/test_hubble_report.py
Labels: area/testing, area/setup, area/core, size/s
