Repository jina-ai/now, pull requests merged in 2023-03, with the labels that each got.

#1126 refactor: external sbert
  .github/actions/push-executor/action.yml
  .github/workflows/ci.yml
  now/app/search_app/app.py
  now/common/flow/flow-external-clip.yml
  now/common/flow/flow-external-sbert.yml
  now/constants.py
  now/deployment/deployment.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_external_executors.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m, component/deployment

#1134 fix: enable spot capacity
  now/app/base/app.py
  now/app/search_app/app.py
  now/constants.py
Labels: area/core, size/s

#1120 cost: autoscaling for suggestion executor and gateway
  now/app/search_app/app.py
  now/constants.py
  now/executor/autocomplete/executor.py
Labels: area/core, size/s

#1138 fix: Force push
  now/cli/__init__.py
Labels: area/core, size/xs, area/entrypoint, component/cli

#1135 chore: fix codecov
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#1131 chore: cancel old workflows on ci
  .github/workflows/ci.yml
  scripts/delete_flows.py
  tests/integration/conftest.py
Labels: area/testing, area/housekeeping, area/cicd, area/script, size/s

#1141 fix: spelling correction for dummy pr
  now/data_loading/create_dataclass.py
Labels: area/core, component/data, size/xs

#1146 fix: naming cd flows
  tests/integration/conftest.py
Labels: area/testing, size/xs

#1143 chore: bump jcloud version
  .github/workflows/ci.yml
  now/constants.py
  requirements.txt
Labels: area/housekeeping, area/cicd, area/setup, area/core, size/s

#1144 fix: fix loading text from local files
  now/data_loading/create_dataclass.py
  tests/unit/test_dataclass.py
Labels: area/testing, area/core, component/data, size/s

#1112 fix: update semantic scores based on dataclass fields of query
  now/constants.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/gateway/playground/playground.py
  tests/conftest.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/unit/bff/conftest.py
  tests/unit/bff/v1/routers/test_info.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/core, size/m

#1150 refactor: remove port host docs bff
  now/constants.py
  now/executor/gateway/bff/app/v1/routers/search.py
Labels: area/core, size/s

#1139 feat: add active flow emails to slack
  .github/workflows/trigger-slack-messages.yml
  now/constants.py
  requirements.txt
  scripts/active-flow-emails.sh
  scripts/alert_slack_with_flows.py
  scripts/requirements.txt
Labels: area/housekeeping, area/cicd, area/script, area/setup, area/core, size/m

#1152 fix: remove limit for namespaces retrieval
  scripts/active-flow-emails.sh
Labels: area/script, size/xs

#1155 fix: add limit to number of characters in slack message
  scripts/alert_slack_with_flows.py
Labels: area/script, size/s

#1154 refactor: hardcode s3 dataset paths
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/update-durations.yml
  now/constants.py
  scripts/prepare_laion_data.py
  tests/integration/conftest.py
  tests/integration/local/conftest.py
  tests/integration/remote/test_e2e_s3_bucket.py
Labels: area/testing, area/housekeeping, area/cicd, area/script, area/core, size/s

#1161 feat: add tagging to slack message
  .github/workflows/trigger-slack-messages.yml
  scripts/alert_slack_with_flows.py
Labels: area/housekeeping, area/cicd, area/script, size/s

#1158 feat: allow autoscaling on demo
  .github/workflows/force-deploy-examples.yml
Labels: area/housekeeping, area/cicd, size/xs

#1162 fix: add required packages to slack bot
  scripts/requirements.txt
Labels: area/script, size/xs

#1160 fix: fix pandas for compare flows
  now/constants.py
  requirements-test.txt
  requirements.txt
Labels: area/setup, area/core, size/s

#1167 fix: shared bff user input in tests
  now/constants.py
  now/executor/gateway/bff/app/settings.py
  now/executor/gateway/bff/app/v1/routers/info.py
  now/executor/gateway/bff/app/v1/routers/search.py
  tests/conftest.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/unit/bff/v1/routers/test_info.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/core, size/s

#1173 fix: user input bff
  now/constants.py
  now/executor/gateway/bff/app/settings.py
  now/executor/gateway/bff/app/v1/routers/info.py
  now/executor/gateway/bff/app/v1/routers/search.py
  tests/conftest.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/unit/bff/conftest.py
  tests/unit/bff/v1/routers/test_info.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/core, size/s

#1153 refactor: score calculation naming
  .test_durations
  docs/user-guides/cli_api.md
  now/cli/parser.py
  now/client/__init__.py
  now/compare/compare_flows.py
  now/constants.py
  now/executor/gateway/bff/app/v1/models/search.py
  now/executor/gateway/bff/app/v1/routers/helper.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/gateway/playground/playground.py
  now/executor/gateway/playground/src/search.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_converter.py
  now/executor/indexer/elastic/es_query_building.py
  now/run_all_k8s.py
  tests/conftest.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/executor/indexer/test_es_converter.py
  tests/executor/indexer/test_es_query_building.py
  tests/executor/indexer/test_executor.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/remote/assertions.py
  tests/unit/bff/v1/routers/test_search.py
Labels: size/l, area/testing, area/core, area/docs, component/cli

#1082 Feat alternative hubble report
  now/app/base/app.py
  now/constants.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/gateway/hubble_report.py
  now/executor/gateway/now_gateway.py
  tests/executor/gateway/__init__.py
  tests/executor/gateway/test_hubble_report.py
Labels: area/testing, area/core, size/m

#1157 test: improve utils coverage
  now/app/search_app/indexer_utils.py
  now/dialog.py
  now/run_all_k8s.py
  now/utils.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dialog.py
  tests/unit/test_utils.py
Labels: area/testing, area/core, size/m

#1171 feat: demo ds info and source
  now/demo_data.py
  tests/integration/remote/assertions.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/s

#1181 ci: remove also flows on cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  scripts/delete_flows.py
Labels: area/housekeeping, area/cicd, area/script, size/s

#1166 feat: introduce tracing
  .github/actions/push-executor/action.yml
  now/app/base/app.py
  now/common/flow/flow-external-clip.yml
  now/common/flow/flow-external-sbert.yml
  now/constants.py
  now/executor/gateway/Dockerfile
  now/executor/gateway/bff/app/v1/routers/helper.py
  now/executor/gateway/now_gateway.py
  now/executor/gateway/requirements.txt
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  requirements.txt
Labels: area/housekeeping, area/setup, area/core, size/s

#1182 fix: custom dns for http
  now/app/base/app.py
  now/constants.py
  requirements.txt
Labels: area/setup, area/core, size/s

#1179 test: add preprocessor tests
  now/constants.py
  now/data_loading/data_loading.py
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/s3_download.py
  now/now_dataclasses.py
  now/run_backend.py
  tests/conftest.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/conftest.py
  tests/integration/local/conftest.py
  tests/unit/data_loading/elastic/test_elasticsearch.py
  tests/unit/data_loading/test_data_loading.py
Labels: size/l, area/testing, area/core, component/data

#1180 feat: allow multiple filters
  .github/codecov.yml
  docs/user-guides/cli_api.md
  now/constants.py
  now/executor/gateway/bff/app/v1/models/search.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/gateway/playground/playground.py
  now/executor/indexer/elastic/es_query_building.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/executor/indexer/test_es_query_building.py
  tests/executor/indexer/test_executor.py
  tests/integration/local/test_custom_da_with_tags.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/housekeeping, area/core, area/docs, size/m

#1189 refactor: remove dup code
  now/common/detect_schema.py
  tests/conftest.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
Labels: area/testing, area/core, size/s

#1194 fix: memory leak sbert
  now/common/flow/flow-external-sbert.yml
Labels: area/core, size/s

#1193 feat: add billing logging
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/constants.py
  now/executor/gateway/hubble_report.py
Labels: area/housekeeping, area/cicd, area/core, size/s

#1097 fix: curation
  now/admin/flow_results.py
  now/app/base/app.py
  now/app/search_app/app.py
  now/constants.py
  now/data_loading/create_dataclass.py
  now/executor/abstract/auth/auth.py
  now/executor/gateway/now_gateway.py
  now/executor/gateway/playground/playground.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_query_building.py
  now/run_backend.py
  tests/integration/offline_flow/test_offline_flow.py
Labels: area/testing, area/core, component/data, size/m

#1123 refactor: remove redundant code
  now/constants.py
  now/executor/gateway/playground/playground.py
Labels: area/core, size/s

#1199 test: add client coverage
  now/client/__init__.py
  requirements-test.txt
  tests/unit/test_client.py
Labels: area/testing, area/core, size/s

#1202 fix: add gateway labels
  now/app/base/app.py
  now/constants.py
Labels: area/core, size/s

#1198 fix: add m2m token in env of gateway exec
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/app/base/app.py
  now/constants.py
  now/deployment/deployment.py
  now/executor/gateway/bff/app/v1/models/shared.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/gateway/hubble_report.py
  now/executor/gateway/now_gateway.py
  now/utils/authentication/helpers.py
  tests/conftest.py
  tests/executor/gateway/test_hubble_report.py
  tests/integration/local/test_api_key.py
  tests/integration/local/test_custom_da_with_tags.py
  tests/integration/local/test_end_to_end.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, size/m, component/deployment

#1188 test: add run_k8s coverage
  now/cli/__init__.py
  now/run_all_k8s.py
  tests/integration/conftest.py
  tests/unit/test_correct_response.json
  tests/unit/test_run_all_k8s.py
  tests/unit/test_wrong_answer.json
Labels: area/testing, area/core, size/m, area/entrypoint, component/cli

#1172 Fix update demo script
  .github/workflows/force-deploy-examples.yml
  scripts/deploy_examples.py
Labels: area/housekeeping, area/cicd, area/script, size/s

#1200 refactor: improve test coverage for CLI
  now/cli/__init__.py
  now/cli/parser.py
  now/constants.py
  now/executor/gateway/playground/src/constants.py
  tests/unit/test_cli.py
  tests/unit/test_client.py
  tests/unit/test_parser.py
  tests/unit/test_run_all_k8s.py
Labels: area/testing, area/core, size/m, area/entrypoint, component/cli

#1208 test: improve test coverage for compare
  now/run_all_k8s.py
  requirements-test.txt
  tests/unit/test_run_all_k8s.py
Labels: area/testing, area/core, size/s

#1192 fix: merge two level sub-app
  now/constants.py
  now/executor/gateway/bff/app/app.py
  now/executor/gateway/bff/app/v1/models/info.py
  now/executor/gateway/bff/app/v1/routers/app.py
  now/executor/gateway/bff/app/v1/routers/info.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/gateway/playground/playground.py
  now/executor/gateway/playground/src/search.py
  now/executor/indexer/elastic/elastic_indexer.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/unit/bff/v1/conftest.py
  tests/unit/bff/v1/routers/test_info.py
Labels: area/testing, area/core, size/m

#1207 test: improve indexer test coverage
  tests/integration/remote/assertions.py
Labels: area/testing, size/xs

#1136 feat: define logger using JinaLogger
  now/app/base/app.py
  now/app/search_app/app.py
  now/cli/__init__.py
  now/constants.py
  now/deployment/deployment.py
  now/executor/abstract/auth/auth.py
  now/executor/gateway/bff/app/app.py
  now/executor/gateway/bff/app/decorators.py
  now/executor/gateway/bff/app/settings.py
  now/executor/gateway/hubble_report.py
  now/executor/gateway/now_gateway.py
  now/log/__init__.py
  now/log/log.py
  now/utils.py
  now/utils/authentication/helpers.py
  tests/executor/auth/test_unit.py
Labels: area/testing, area/core, size/m, area/entrypoint, component/cli, component/deployment

#1170 fix: change slack channel
  scripts/alert_slack_with_flows.py
Labels: area/script, size/xs

#1239 fix: logging in gateway
  now/constants.py
  now/executor/gateway/bff/app/app.py
  now/executor/gateway/playground/playground.py
Labels: area/core, size/xs

#1240 refactor: revert logging
  now/constants.py
  now/executor/gateway/bff/app/app.py
  now/executor/gateway/playground/playground.py
Labels: area/core, size/xs

#1147 feat: autoscale indexer
  now/app/search_app/app.py
Labels: area/core, size/xs

#1242 fix: remove autocomplete executor
  .github/workflows/ci.yml
  .test_durations
  docs/user-guides/cli_api.md
  docs/user-guides/production.md
  now/app/search_app/app.py
  now/constants.py
  now/executor/autocomplete/Dockerfile
  now/executor/autocomplete/README.md
  now/executor/autocomplete/__init__.py
  now/executor/autocomplete/config.yml
  now/executor/autocomplete/executor.py
  now/executor/autocomplete/requirements.txt
  now/executor/gateway/bff/app/v1/models/search.py
  now/executor/gateway/bff/app/v1/routers/info.py
  now/executor/gateway/playground/playground.py
  now/executor/gateway/playground/src/search.py
  now/executor/name_to_id_map.py
  requirements-test.txt
  tests/executor/autocomplete/__init__.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/integration/local/conftest.py
  tests/integration/offline_flow/flow.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, area/docs, size/m

#1210 test: improve admin coverage
  .coveragerc
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#1206 feat: improve filtering with text
  now/cli/parser.py
  now/compare/compare_flows.py
  now/constants.py
  now/executor/gateway/bff/app/v1/models/search.py
  now/executor/gateway/bff/app/v1/routers/helper.py
  now/executor/gateway/playground/playground.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_query_building.py
  now/run_all_k8s.py
  tests/conftest.py
  tests/executor/indexer/test_es_query_building.py
  tests/unit/bff/v1/routers/test_search.py
  tests/unit/test_run_all_k8s.py
Labels: area/testing, area/core, size/m, component/cli
