Repository jina-ai/now, pull requests merged in 2023-01, with the labels that each got.

#846 fix: small updates in elastic indexer
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_converter.py
  now/executor/indexer/elastic/es_query_building.py
  tests/executor/indexer/elastic/test_es_converter.py
Labels: area/testing, area/core, size/m

#858 Fix pg bff blob
  deployment/bff/app/v1/models/modality.py
  deployment/bff/app/v1/routers/helper.py
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/s

#836 fix: types as strings for some python versions
  now/common/detect_schema.py
Labels: area/core, size/xs

#851 feat: integrate elastic
  .github/workflows/ci.yml
  .test_durations
  deployment/bff/app/v1/routers/search.py
  deployment/playground/playground.py
  now/app/base/app.py
  now/app/base/transform_docarray.py
  now/app/search_app/app.py
  now/common/flow/flow-clip.yml
  now/common/utils.py
  now/constants.py
  now/executor/indexer/elastic/Dockerfile
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/elasticsearch.yml
  now/executor/indexer/elastic/es_converter.py
  now/executor/indexer/elastic/es_preprocessing.py
  now/executor/indexer/elastic/es_query_building.py
  now/executor/indexer/elastic/start-elastic-search-cluster.sh
  now/executor/indexer/qdrant/.dockerignore
  now/executor/indexer/qdrant/.gitignore
  now/executor/indexer/qdrant/Dockerfile
  now/executor/indexer/qdrant/README.md
  now/executor/indexer/qdrant/__init__.py
  now/executor/indexer/qdrant/config.yml
  now/executor/indexer/qdrant/executor.py
  now/executor/indexer/qdrant/requirements.txt
  now/executor/indexer/qdrant/run-qdrant.sh
  now/executor/name_to_id_map.py
  now/run_backend.py
  requirements.txt
  tests/conftest.py
  tests/executor/indexer/base/docker-compose.yml
  tests/executor/indexer/base/test_base_executor.py
  tests/executor/indexer/base/test_elastic_executor.py
  tests/executor/indexer/elastic/test_es_converter.py
  tests/integration/bff/conftest.py
  tests/integration/bff/test_api_key.py
  tests/integration/bff/test_search_with_tags.py
  tests/unit/apps/test_apps.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/setup, area/core

#865 refactor: distribute tests
  .test_durations
Labels: size/s

#857 fix: update the documenta
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/requirements.txt
  now/constants.py
Labels: area/core, size/s

#868 fix: enable retry
  now/common/options.py
  now/dialog.py
  now/utils.py
Labels: area/core, size/s

#835 refactor: schema detection takes up to a minute
  now/common/detect_schema.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/m

#866 fix: show all fields for indexing
  now/common/detect_schema.py
  now/utils.py
  tests/unit/test_detect_schema.py
Labels: area/testing, area/core, size/s

#872 Test include bff in offline flow
  deployment/bff/app/v1/routers/search.py
  now/constants.py
  tests/integration/offline_flow/test_offline_flow.py
Labels: area/testing, area/core, size/s

#869 Fix dialog broken
  now/common/options.py
  now/dialog.py
Labels: area/core, size/s

#878 fix: recreate default semantic scores for every query
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  tests/executor/indexer/elastic/test_executor.py
Labels: area/testing, area/core, size/s

#881 ci: no high performance flow
  now/common/utils.py
Labels: area/core, size/xs

#875 Fix enable multi modal support
  now/common/options.py
  now/common/utils.py
  now/constants.py
  now/dialog.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/utils.py
  tests/conftest.py
  tests/executor/indexer/base/test_elastic_executor.py
  tests/executor/indexer/elastic/test_es_converter.py
  tests/executor/indexer/elastic/test_es_query_building.py
  tests/executor/indexer/elastic/test_executor.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/m

#882 refactor: delete unused code
  deployment/bff/app/v1/models/admin.py
  deployment/bff/app/v1/models/cloud_temp_link.py
  deployment/bff/app/v1/models/helper.py
  deployment/bff/app/v1/models/modality.py
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/models/shared.py
  deployment/bff/app/v1/routers/admin.py
  now/constants.py
Labels: area/core, size/m

#856 feat: use data class in es extractor
  deployment/bff/app/v1/routers/search.py
  now/admin/update_email.py
  now/app/base/transform_docarray.py
  now/common/detect_schema.py
  now/common/options.py
  now/constants.py
  now/data_loading/data_loading.py
  now/data_loading/elasticsearch/connector.py
  now/data_loading/elasticsearch/data_extractor.py
  now/executor/preprocessor/executor.py
  tests/conftest.py
  tests/executor/preprocessor/test_integration.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/bff/conftest.py
  tests/integration/data_loading/elastic/conftest.py
  tests/integration/data_loading/elastic/test_elasticsearch.py
  tests/integration/test_transform_docarray.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/test_detect_schema.py
Labels: size/l, area/testing, area/core, component/data

#876 refactor: remove bff index
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/search.py
  now/constants.py
  now/executor/preprocessor/executor.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/core, size/m

#883 feat: mmdocs in playground results
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/constants.py
Labels: area/core, size/s

#887 refactor: remove tags from yaml
  now/app/search_app/app.py
  now/app/search_app/indexer_utils.py
  now/constants.py
  now/executor/abstract/base_indexer/base_indexer.py
  tests/executor/indexer/base/test_base_executor.py
  tests/executor/indexer/base/test_elastic_executor.py
  tests/integration/bff/test_search_with_tags.py
Labels: area/testing, area/core, size/s

#889 fix: bucket url json
  deployment/bff/app/v1/routers/search.py
  deployment/playground/src/search.py
  now/app/base/app.py
  now/app/base/preprocess.py
  now/constants.py
  now/data_loading/create_dataclass.py
  now/data_loading/data_loading.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/preprocessor/executor.py
  now/utils.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/executor/indexer/test_es_converter.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/offline_flow/flow.py
  tests/integration/offline_flow/test_offline_flow.py
Labels: area/testing, area/core, component/data, size/m

#899 fix: patching docs
  now/constants.py
  now/data_loading/data_loading.py
  now/executor/preprocessor/executor.py
  now/utils.py
Labels: area/core, component/data, size/s

#903 fix: cd
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd, size/xs

#904 refactor: deployment of bff
  deployment/bff/app/v1/routers/search.py
  now/constants.py
Labels: area/core, size/xs

#896 fix: bug docarray pull
  now/common/detect_schema.py
  now/common/options.py
  now/data_loading/data_loading.py
  now/now_dataclasses.py
  now/utils.py
  tests/integration/test_end_to_end.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_detect_schema.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, component/data, size/s

#898 fix: filter construction in bff
  deployment/bff/app/v1/routers/search.py
  now/common/testing.py
  now/constants.py
  requirements.txt
  tests/integration/bff/test_search_with_tags.py
Labels: area/testing, area/setup, area/core, size/s

#906 fix: add tags to docarrays
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/s

#909 fix: docarray pull
  deployment/bff/requirements.txt
  deployment/playground/requirements.txt
  now/common/detect_schema.py
  now/common/options.py
  now/constants.py
  now/data_loading/data_loading.py
  now/demo_data.py
  requirements.txt
Labels: area/setup, area/core, component/data, size/s

#894 Refactor user input in args
  deployment/bff/app/app.py
  deployment/bff/app/v1/models/cloud_temp_link.py
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/routers/cloud_temp_link.py
  deployment/bff/app/v1/routers/search.py
  deployment/playground/src/search.py
  now/app/base/app.py
  now/constants.py
  now/executor/abstract/auth/auth.py
  now/executor/cast_n_move/README.md
  now/executor/cast_n_move/config.yml
  now/executor/cast_n_move/executor.py
  now/executor/cast_n_move/manifest.yml
  now/executor/cast_n_move/requirements.txt
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/requirements.txt
  now/executor/preprocessor/executor.py
  now/now_dataclasses.py
  now/run_backend.py
  requirements.txt
  tests/conftest.py
  tests/executor/preprocessor/test_integration.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/bff/conftest.py
  tests/integration/offline_flow/flow.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/setup, area/core, size/m

#912 fix: move tag adding logic inside docarrays
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs

#916 fix: set filter field modality to string not class
  now/common/detect_schema.py
  now/data_loading/data_loading.py
  tests/unit/test_detect_schema.py
Labels: area/testing, area/core, component/data, size/s

#920 fix: add space
  now/cloud_manager.py
Labels: area/core, size/xs

#918 refactor: move curation to private
  now/admin/add_curation.py
Labels: area/core, size/s

#862 refactor: bump jina version
  .github/actions/push-executor/action.yml
  .github/workflows/ci.yml
  deployment/bff/requirements.txt
  deployment/playground/requirements.txt
  now/common/flow/flow-external-clip.yml
  now/constants.py
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  requirements.txt
Labels: area/housekeeping, area/cicd, area/setup, area/core, size/s

#922 docs: add os requirements
  README.md
Labels: area/docs, size/xs

#931 fix: speed up schema detection
  now/common/detect_schema.py
Labels: area/core, size/xs

#932 refactor: remove webcam
  deployment/playground/playground.py
  deployment/playground/requirements.txt
  deployment/playground/src/constants.py
  now/constants.py
Labels: area/core, size/s

#928 fix: list endpoint when indexer is empty
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
Labels: area/housekeeping, area/cicd, area/core, size/xs

#937 fix: allow all as an options in filter
  now/common/options.py
Labels: area/core, size/s

#947 test: distribute even
  .test_durations
Labels: size/m

#936 feat: mmdocs in bff
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/search.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/client/__init__.py
  now/constants.py
  now/data_loading/create_dataclass.py
  now/run_backend.py
  tests/integration/bff/test_api_key.py
  tests/integration/bff/test_search_with_tags.py
  tests/integration/data_loading/elastic/test_elasticsearch.py
  tests/integration/offline_flow/test_offline_flow.py
  tests/integration/test_end_to_end.py
  tests/unit/bff/v1/routers/test_search.py
  tests/unit/data_loading/test_data_loading.py
  tests/unit/test_dataclass.py
Labels: area/testing, area/core, component/data, size/m

#948 refactor: remove k8s deployment
  deployment/playground/playground.py
  now/admin/deploy_text_to_video.py
  now/admin/update_api_keys.py
  now/admin/update_email.py
  now/admin/utils.py
  now/app/base/app.py
  now/app/search_app/app.py
  now/cli/__init__.py
  now/cloud_manager.py
  now/common/options.py
  now/constants.py
  now/deployment/deployment.py
  now/deployment/flow.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/run_backend.py
  now/run_bff_playground.py
  now/system_information.py
  requirements-test.txt
  requirements.txt
  scripts/deploy_examples.py
  tests/integration/bff/conftest.py
  tests/integration/bff/test_api_key.py
  tests/integration/bff/test_search_with_tags.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/integration/test_end_to_end.py
  tests/unit/apps/test_apps.py
  tests/unit/test_dialog.py
Labels: size/l, area/testing, area/script, area/setup, area/core, area/entrypoint, component/cli, component/deployment

#951 refactor: remove ocr detector
  now/app/search_app/app.py
  now/app/search_app/indexer_utils.py
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/requirements.txt
  requirements-test.txt
  tests/executor/indexer/test_elastic_in_flow.py
  tests/executor/preprocessor/test_integration.py
  tests/executor/preprocessor/test_unit.py
Labels: area/testing, area/core, size/s

#955 fix: playground import
  deployment/playground/playground.py
Labels: size/s

#956 Fix playground import
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/s

#946 test: optimize tests
  now/admin/deploy_text_to_video.py
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  tests/executor/auth/test_integration.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/integration/cli/test_cli.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, size/m

#774 refactor: no executor tests
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd, size/s

#957 refactor: cleanup
  deployment/playground/src/search.py
  now/constants.py
  tests/integration/cli/test_cli.py
Labels: area/testing, area/core, size/xs

#939 feat: playground accepts multiple modalities for query
  deployment/playground/playground.py
  now/constants.py
Labels: area/core, size/m

#954 refactor: remove now testing
  README.md
  now/README.md
  now/app/search_app/app.py
  now/cli/__init__.py
  now/common/testing.py
  now/constants.py
  now/deployment/flow.py
  now/deployment/k8s_backend-svc-lb.yml
  now/deployment/k8s_backend-svc-node.yml
  now/deployment/k8s_playground-deployment.yml
  now/deployment/k8s_playground-svc-lb.yml
  now/deployment/k8s_playground-svc-node.yml
  now/kind.yml
  now/run_all_k8s.py
  now/run_backend.py
  now/scripts/install_kind.sh
  now/scripts/install_kubectl.sh
  requirements.txt
  tests/integration/test_end_to_end.py
Labels: area/testing, area/setup, area/core, area/docs, size/m, area/entrypoint, component/cli, component/deployment

#961 test: update durations
  .github/workflows/update-durations.yml
Labels: area/housekeeping, area/cicd, size/s

#942 feat: expose semantic scores
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/routers/search.py
  deployment/playground/playground.py
  deployment/playground/src/search.py
  now/app/base/app.py
  now/client/__init__.py
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_converter.py
  now/executor/indexer/elastic/es_query_building.py
  now/executor/preprocessor/executor.py
  tests/conftest.py
  tests/executor/indexer/test_es_query_building.py
  tests/executor/indexer/test_executor.py
  tests/unit/bff/v1/routers/test_search.py
Labels: area/testing, area/core, size/m

#880 fix: filter out index fields in docarray
  deployment/bff/app/v1/routers/helper.py
  deployment/bff/app/v1/routers/search.py
  now/app/search_app/app.py
  now/client/__init__.py
  now/constants.py
  now/data_loading/data_loading.py
  now/deployment/deployment.py
  requirements.txt
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/setup, area/core, component/data, size/s, component/deployment

#968 chore: update pr template
  .github/pull_request_template.md
Labels: area/housekeeping, size/xs

#964 refactor: end to end no playground
  deployment/playground/playground.py
  now/constants.py
  tests/integration/conftest.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_s3_bucket.py
Labels: area/testing, area/core, size/s

#962 feat: model choice dialog
  now/app/search_app/app.py
  now/cli/parser.py
  now/common/options.py
  now/constants.py
  now/dialog.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_query_building.py
  now/now_dataclasses.py
  tests/integration/local/test_api_key.py
  tests/integration/local/test_custom_da_with_tags.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_s3_bucket.py
  tests/unit/apps/test_apps.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core, size/m, component/cli

#966 feat: activate serverless in preprocessor
  now/app/search_app/app.py
  now/constants.py
Labels: area/core, size/s

#982 refactor: none mmdoc elastic
  now/constants.py
  now/executor/indexer/elastic/es_query_building.py
Labels: area/core, size/xs

#981 refactor: use mm docs in tests
  requirements-test.txt
  tests/conftest.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/executor/preprocessor/test_integration.py
  tests/executor/preprocessor/test_unit.py
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
Labels: area/testing, size/m

#988 feat: add script in precommit to prevent committing and pushing credentials
  .pre-commit-config.yaml
  scripts/aws-check-credentials.sh
Labels: area/script, size/s

#965 fix: enable callbacks
  now/data_loading/data_loading.py
  now/run_backend.py
Labels: area/core, component/data, size/s

#680 Fix deploy examples
  .github/workflows/force-deploy-examples.yml
  deployment/bff/app/v1/routers/search.py
  now/app/base/app.py
  now/app/base/flow.yml
  now/app/search_app/app.py
  now/common/detect_schema.py
  now/common/options.py
  now/constants.py
  now/demo_data.py
  now/dialog.py
  now/now_dataclasses.py
  now/run_all_k8s.py
  now/utils.py
  scripts/deploy_examples.py
  tests/integration/local/test_end_to_end.py
Labels: area/testing, area/housekeeping, area/cicd, area/script, area/core, size/m

#1001 chore: bump jcloud
  now/constants.py
  requirements.txt
Labels: area/setup, area/core, size/s

#1000 test: add local folder e2e tests
  tests/conftest.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/autocomplete/test_unit.py
  tests/executor/preprocessor/test_integration.py
  tests/executor/preprocessor/test_unit.py
  tests/integration/local/conftest.py
  tests/integration/local/data.py
  tests/integration/local/test_api_key.py
  tests/integration/local/test_custom_da_with_tags.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/resources/subdirectories/folder0/a.jpg
  tests/resources/subdirectories/folder0/metadata.json
  tests/resources/subdirectories/folder0/test.txt
  tests/resources/subdirectories/folder1/metadata.json
  tests/resources/subdirectories/folder2/metadata.json
  tests/resources/subdirectories/folder3/a.jpg
  tests/resources/subdirectories/folder3/metadata.json
  tests/resources/subdirectories/folder3/test.txt
  tests/resources/subdirectories/folder4/a.jpg
  tests/resources/subdirectories/folder4/metadata.json
  tests/resources/subdirectories/folder4/test.txt
  tests/resources/subdirectories/folder5/a.jpg
  tests/resources/subdirectories/folder5/metadata.json
  tests/resources/subdirectories/folder5/test.txt
  tests/resources/subdirectories/folder6/a.jpg
  tests/resources/subdirectories/folder6/metadata.json
  tests/resources/subdirectories/folder6/test.txt
  tests/resources/subdirectories/folder7/a.jpg
  tests/resources/subdirectories/folder7/metadata.json
  tests/resources/subdirectories/folder7/test.txt
  tests/resources/subdirectories/folder8/a.jpg
  tests/resources/subdirectories/folder8/metadata.json
  tests/resources/subdirectories/folder8/test.txt
  tests/resources/subdirectories/folder9/a.jpg
  tests/resources/subdirectories/folder9/metadata.json
  tests/resources/subdirectories/folder9/test.txt
  tests/unit/apps/test_apps.py
  tests/unit/apps/test_preprocessing.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, size/m

#997 refactor: create preprocessor utils
  now/constants.py
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/s3_download.py
  now/utils.py
Labels: area/core, size/m
