Repository jina-ai/now, pull requests merged in 2023-04, with the labels that each got.

#1201 Feat weekly latency
  .github/workflows/weekly-search-performance.yml
  now/admin/benchmark_flow.py
  now/app/base/app.py
  now/common/detect_schema.py
  now/constants.py
  now/data_loading/data_loading.py
  now/executor/gateway/bff/app/v1/models/info.py
  now/executor/gateway/bff/app/v1/routers/info.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/preprocessor/executor.py
  now/log/log.py
  now/now_dataclasses.py
  scripts/benchmark_index_search_latency.py
  tests/executor/indexer/test_executor.py
  tests/integration/conftest.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/assertions.py
Labels: size/l, area/testing, area/housekeeping, area/cicd, area/script, area/core, component/data

#1248 fix: parallelize preprocess drop blob fix cold start preprocess
  now/app/base/app.py
  now/app/base/preprocess.py
  now/constants.py
  now/executor/abstract/auth/auth.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/preprocessor/executor.py
  tests/executor/indexer/test_es_converter.py
  tests/executor/indexer/test_es_query_building.py
Labels: area/testing, area/core, size/m

#1258 fix: flow cleanup
  scripts/delete_flows.py
Labels: area/script, size/xs

#1218 refactor: update jina version
  .github/actions/push-executor/action.yml
  now/admin/run_performance_test.py
  now/app/base/app.py
  now/common/flow/flow-external-clip.yml
  now/common/flow/flow-external-sbert.yml
  now/constants.py
  now/deployment/deployment.py
  now/executor/gateway/Dockerfile
  now/executor/gateway/bff/app/v1/routers/helper.py
  now/executor/gateway/playground/playground.py
  now/executor/gateway/requirements.txt
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  now/run_backend.py
  requirements.txt
Labels: area/housekeeping, area/setup, area/core, size/s, component/deployment

#1260 Fix s3 file param
  .github/workflows/ci.yml
  now/app/base/preprocess.py
  now/constants.py
  now/data_loading/data_loading.py
  now/utils/common/helpers.py
  requirements.txt
  scripts/delete_flows.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/housekeeping, area/cicd, area/script, area/setup, area/core, component/data, size/m

#1253 feat: add report usage meta
  now/constants.py
  now/executor/gateway/hubble_report.py
  requirements.txt
  tests/executor/gateway/test_hubble_report.py
Labels: area/testing, area/setup, area/core, size/s

#1262 fix: add top n when listing s3
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/xs

#1243 refactor: update jina version and adapt
  .github/actions/push-executor/action.yml
  now/app/base/app.py
  now/common/flow/flow-external-clip.yml
  now/common/flow/flow-external-sbert.yml
  now/constants.py
  now/executor/gateway/Dockerfile
  now/executor/gateway/now_gateway.py
  now/executor/gateway/requirements.txt
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  requirements.txt
  tests/unit/test_gateway.py
Labels: area/testing, area/housekeeping, area/setup, area/core, size/s

#1264 fix: add timeout to jina client
  .github/actions/push-executor/action.yml
  now/common/flow/flow-external-clip.yml
  now/common/flow/flow-external-sbert.yml
  now/constants.py
  now/executor/gateway/Dockerfile
  now/executor/gateway/requirements.txt
  now/executor/preprocessor/Dockerfile
  now/executor/preprocessor/requirements.txt
  now/run_backend.py
  requirements.txt
Labels: area/housekeeping, area/setup, area/core, size/s

#1269 feat: elastic index cleanup
  scripts/index-cleanup.sh
Labels: area/script, size/s

#1274 fix: filter out filters with no values at rendering
  now/constants.py
  now/executor/gateway/playground/playground.py
Labels: area/core, size/xs
