Repository jina-ai/now, pull requests merged in 2023-02, with the labels that each got.

#930 fix: support tags for folder structure
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/update-durations.yml
  now/cli/__init__.py
  now/constants.py
  now/data_loading/create_dataclass.py
  now/data_loading/data_loading.py
  now/deployment/flow.py
  now/executor/preprocessor/executor.py
  now/executor/preprocessor/s3_download.py
  tests/integration/local/data.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_s3_bucket.py
Labels: area/testing, area/housekeeping, area/cicd, area/core, component/data, size/m, area/entrypoint, component/cli, component/deployment

#1002 fix: results with no content
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
Labels: area/core, size/xs

#1006 Fix av requirements
  .pre-commit-config.yaml
  now/constants.py
  requirements-test.txt
  requirements.txt
Labels: area/setup, area/core, size/s

#1014 feat: add command 'logs' to cli, to fetch logs from pods
  now/cli/__init__.py
  now/cli/parser.py
  now/run_all_k8s.py
Labels: area/core, size/s, area/entrypoint, component/cli

#1020 feat: make sbert serverless
  now/app/search_app/app.py
Labels: area/core, size/xs

#1007 refactor: cleanup dataclass creation
  deployment/bff/app/v1/routers/search.py
  now/constants.py
  now/data_loading/create_dataclass.py
  now/data_loading/data_loading.py
  now/data_loading/elasticsearch/data_extractor.py
  now/executor/preprocessor/s3_download.py
  tests/integration/local/test_end_to_end.py
  tests/unit/test_dataclass.py
Labels: area/testing, area/core, component/data, size/m

#1011 refactor: elastic update tags
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
Labels: area/core, size/s

#989 fix: semantic scores
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  deployment/bff/app/v1/models/search.py
  deployment/bff/app/v1/routers/search.py
  deployment/playground/Dockerfile
  deployment/playground/playground.py
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/es_query_building.py
  now/executor/preprocessor/executor.py
Labels: area/housekeeping, area/cicd, area/core, size/m

#992 fix: elastic persistent workspace
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/executor/indexer/elastic/elasticsearch.yml
  now/executor/indexer/elastic/start-elastic-search-cluster.sh
  tests/executor/indexer/test_executor.py
Labels: area/testing, area/core, size/s

#1024 fix: add slash to s3 path
  now/common/options.py
Labels: area/core, size/xs

#1028 fix: fix tags in search response model
  now/constants.py
  now/executor/gateway/bff/app/app.py
  now/executor/gateway/bff/app/v1/models/search.py
Labels: area/core, size/s

#1033 fix: s3 bucket tests
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_s3_bucket.py
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, size/s

#1023 refactor: s3 data loading in tests
  now/constants.py
  now/data_loading/data_loading.py
  now/executor/gateway/nginx.conf
  tests/integration/conftest.py
  tests/integration/local/conftest.py
  tests/integration/local/data.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/resources/subdirectories/folder3/a.jpg
  tests/resources/subdirectories/folder3/metadata.json
  tests/resources/subdirectories/folder3/test.txt
  tests/resources/subdirectories/folder4/a.jpg
  tests/resources/subdirectories/folder4/metadata.json
  tests/resources/subdirectories/folder4/test.txt
  tests/resources/subdirectories/folder5/a.jpg
  tests/resources/subdirectories/folder5/metadata.json
  tests/resources/subdirectories/folder5/test.txt
  tests/resources/subdirectories/folder6/a.jpg
  tests/resources/subdirectories/folder6/metadata.json
  tests/resources/subdirectories/folder6/test.txt
  tests/resources/subdirectories/folder7/a.jpg
  tests/resources/subdirectories/folder7/metadata.json
  tests/resources/subdirectories/folder7/test.txt
  tests/resources/subdirectories/folder8/a.jpg
  tests/resources/subdirectories/folder8/metadata.json
  tests/resources/subdirectories/folder8/test.txt
  tests/resources/subdirectories/folder9/a.jpg
  tests/resources/subdirectories/folder9/metadata.json
  tests/resources/subdirectories/folder9/test.txt
  tests/unit/data_loading/test_data_loading.py
Labels: area/testing, area/core, component/data, size/m

#1031 Refactor faster gateway builds
  now/constants.py
  now/executor/gateway/Dockerfile
Labels: area/core, size/xs

#975 docs: update api usage
  README.md
  docs/_static/api_docs.png
  docs/_static/deployment_print.png
  docs/conf.py
  docs/index.md
  docs/user-guides/cli_api.md
  docs/user-guides/faq.md
  docs/user-guides/input_format.md
  now/constants.py
  now/executor/gateway/bff/app/v1/models/search.py
  now/executor/gateway/bff/app/v1/models/shared.py
  now/executor/gateway/bff/app/v1/routers/search.py
Labels: area/core, area/docs, size/m

#1039 Feat: cli dynamic options
  now/dialog.py
  now/utils.py
Labels: area/core, size/s

#1035 feat: expose scores in playground results
  docs/user-guides/cli_api.md
  now/constants.py
  now/executor/gateway/bff/app/v1/models/search.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/gateway/playground/playground.py
  now/executor/gateway/playground/src/search.py
  now/executor/indexer/elastic/es_converter.py
  tests/executor/indexer/test_es_converter.py
Labels: area/testing, area/core, area/docs, size/s

#1046 feat: use aws configure profile
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/force-deploy-examples.yml
  .github/workflows/update-durations.yml
  now/common/options.py
  now/now_dataclasses.py
  now/utils.py
  scripts/deploy_examples.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/local/conftest.py
  tests/integration/remote/test_e2e_s3_bucket.py
Labels: area/testing, area/housekeeping, area/cicd, area/script, area/core, size/m

#1040 feat: enable secured grpc custom gateway
  now/app/base/app.py
  now/app/base/create_jcloud_name.py
  now/constants.py
  now/deployment/flow.py
  now/executor/gateway/bff/app/app.py
  now/executor/gateway/bff/app/settings.py
  now/executor/gateway/bff/app/v1/models/info.py
  now/executor/gateway/bff/app/v1/models/shared.py
  now/executor/gateway/bff/app/v1/routers/info.py
  now/executor/gateway/now_gateway.py
  now/executor/gateway/playground/config.toml
  now/executor/gateway/playground/playground.py
  now/executor/gateway/playground/src/search.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/run_all_k8s.py
  tests/executor/autocomplete/test_integration.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/executor/preprocessor/test_integration.py
  tests/integration/local/conftest.py
  tests/integration/local/test_api_key.py
  tests/integration/local/test_custom_da_with_tags.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/integration/remote/test_e2e_s3_bucket.py
Labels: size/l, area/testing, area/core, component/deployment

#1057 fix: field name conflicting with Document attributes leads to error
  .pre-commit-config.yaml
  now/constants.py
  now/data_loading/data_loading.py
  now/executor/gateway/bff/app/v1/models/shared.py
  now/executor/gateway/bff/app/v1/routers/search.py
  now/executor/indexer/elastic/es_converter.py
  now/executor/indexer/elastic/es_query_building.py
  now/utils.py
  tests/unit/test_utils.py
Labels: area/testing, area/core, component/data, size/s

#1009 performance: create concurrent calls for listing s3 buckets
  now/common/detect_schema.py
  now/constants.py
  now/data_loading/data_loading.py
Labels: area/core, component/data, size/m

#1060 fix: search on enter
  now/constants.py
  now/executor/gateway/playground/playground.py
Labels: area/core, size/s

#1061 bug: stabilize pre-commit hook
  .pre-commit-config.yaml
  scripts/aws-check-credentials.sh
Labels: area/script, size/s

#1062 refactor: remove survey
  now/constants.py
  now/executor/gateway/playground/playground.py
Labels: area/core, size/xs

#1027 fix: only install the released version of jina now
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/force-deploy-examples.yml
  now/app/base/app.py
  now/app/search_app/app.py
  now/common/options.py
  now/constants.py
  scripts/deploy_examples.py
Labels: area/housekeeping, area/cicd, area/script, area/core, size/s

#1070 Fix demo aws config
  scripts/deploy_examples.py
Labels: area/script, size/s

#1071 fix: first delete the flow
  scripts/deploy_examples.py
Labels: area/script, size/s

#1036 refactor: use app.setup instead of manually creating flows
  now/app/base/app.py
  now/app/search_app/app.py
  now/constants.py
  now/run_backend.py
  tests/conftest.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/executor/indexer/test_executor.py
  tests/integration/local/conftest.py
  tests/integration/local/test_api_key.py
  tests/integration/local/test_custom_da_with_tags.py
  tests/integration/local/test_end_to_end.py
  tests/unit/apps/test_apps.py
Labels: area/testing, area/core, size/m

#1048 fix: bulk index error
  now/constants.py
  now/data_loading/data_loading.py
  now/executor/gateway/bff/app/v1/models/info.py
  now/executor/gateway/bff/app/v1/routers/info.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/run_all_k8s.py
  tests/executor/indexer/test_executor.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/integration/remote/test_e2e_s3_bucket.py
Labels: area/testing, area/core, component/data, size/m

#1064 test: use right volume
  now/app/search_app/app.py
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
Labels: area/core, size/xs

#1084 refactor: migrate package to auth header in http post
  now/admin/update_api_keys.py
  now/admin/update_email.py
  now/admin/utils.py
  now/constants.py
  now/executor/gateway/now_gateway.py
  now/executor/gateway/playground/playground.py
  now/executor/gateway/playground/src/search.py
  tests/integration/local/conftest.py
  tests/integration/local/test_api_key.py
  tests/integration/local/test_custom_da_with_tags.py
  tests/integration/local/test_end_to_end.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
Labels: area/testing, area/core, size/m

#1087 fix: kind ebs
  now/app/search_app/app.py
Labels: area/core, size/xs

#1093 Fix gateway remote deployment
  now/constants.py
  now/executor/gateway/now_gateway.py
Labels: area/core, size/xs

#1049 feat: integrate es index manager
  now/app/search_app/app.py
  now/constants.py
  now/executor/indexer/elastic/elastic_indexer.py
  tests/conftest.py
  tests/executor/indexer/test_elastic_in_flow.py
  tests/executor/indexer/test_es_converter.py
  tests/executor/indexer/test_executor.py
  tests/integration/local/conftest.py
  tests/integration/local/test_end_to_end.py
  tests/integration/offline_flow/flow.py
  tests/integration/offline_flow/test_offline_flow.py
Labels: area/testing, area/core, size/m

#1055 feat: script for preparing laion100m data
  scripts/prepare_laion_data.py
Labels: area/script, size/m

#1104 fix: add instance type
  now/app/search_app/app.py
  now/common/flow/flow-external-clip.yml
Labels: area/core, size/s

#1089 fix: import executors to make visible for yaml construct
  tests/integration/local/conftest.py
Labels: area/testing, size/xs

#1110 fix: no autoscaling
  now/app/search_app/app.py
  tests/integration/local/conftest.py
Labels: area/testing, area/core, size/s

#1119 refactor: spot instances
  now/app/base/app.py
  now/app/search_app/app.py
  now/constants.py
Labels: area/core, size/s

#1107 fix: fix modality for s3
  now/common/options.py
  now/data_loading/create_dataclass.py
  tests/unit/test_dataclass.py
Labels: area/testing, area/core, component/data, size/s

#1083 refactor: remove duplicates and add /info tests
  now/app/search_app/app.py
  now/run_all_k8s.py
  now/thirdparty/PyInquirer/prompts/editor.py
  now/thirdparty/PyInquirer/prompts/input.py
  now/utils.py
  tests/integration/remote/assertions.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/unit/bff/v1/conftest.py
  tests/unit/bff/v1/routers/test_info.py
Labels: area/testing, area/core, size/m

#1124 fix: remove flows using their names
  tests/integration/conftest.py
  tests/integration/remote/test_e2e_docarray.py
  tests/integration/remote/test_e2e_elastic.py
  tests/integration/remote/test_e2e_local_folder.py
  tests/integration/remote/test_e2e_s3_bucket.py
Labels: area/testing, size/m

#1079 Feat compare flows
  now/cli/__init__.py
  now/cli/parser.py
  now/compare/__init__.py
  now/compare/compare_flows.py
  now/constants.py
  now/executor/gateway/bff/app/v1/models/search.py
  now/executor/gateway/bff/app/v1/models/shared.py
  now/executor/indexer/elastic/elastic_indexer.py
  now/run_all_k8s.py
Labels: area/core, size/m, area/entrypoint, component/cli

#1098 feat: specify shards and replicas for es-index-manager index creation
  docs/user-guides/production.md
  now/app/search_app/app.py
Labels: area/core, area/docs, size/s
